<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link href="#">
</head>
<body>
<nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
<aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

<div class="main" style="margin-top: 40px">
    <section class="content">
        <div style="text-align:center" th:each="document : ${documents}">
            <table class="table" style="margin-top: 3rem">
                <tbody>
                <tr>
                    <th th:text="${document.documentName}"></th>
                    <th th:text="${document.fileDate}"></th>
                    <th>Документ</th>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="text-align:center" th:each="newses : ${news}">
            <table class="table" style="margin-top: 3rem">
                <tbody>
                <tr>
                    <th th:text="${newses.title}"></th>
                    <th th:text="${newses.category.name}"></th>
                    <th th:text="${#temporals.format(newses.date, 'dd-MM-yyyy HH:mm')}"></th>
                    <th>Новость</th>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="text-align:center" th:each="employee: ${employees}"  data-href th:onclick="'window.location.href=\'/contacts/' + ${employee.id} + '\''">
            <table class="table" style="margin-top: 3rem">
                <tbody>
                <tr>
                    <th th:text="${employee.user.surname}"></th>
                    <th th:text="${employee.user.name}"></th>
                    <th th:text="${employee.patronymic}"></th>
                    <th th:text="${employee.user.email}"></th>
                    <th>Сотрудник</th>
                </tr>
                </tbody>
            </table>
        </div>
        <style>
            h5{
                padding-top: 4px;
                padding-left: 10px;
            }
        </style>
    </section>

    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

</div>
<div>
    <div th:replace="fragments/header-and-sidebar :: scripts"></div>
    <div id="specific_scripts">
        <!--Сюда вставлять скрипты, которые нужны только для текущей страницы-->
    </div>
</div>

</body>
</html>