<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <meta charset="UTF-8">

    <link href="#">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/v5.11.1/css/free.min.css" media="all">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">


</head>
<body>
<nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
<aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

<div class="main" style="margin-top: 40px">
    <section class="content" style="height: 75vh">
            <div class="alert alert-primary ms-3 my-4 text-center" role="alert" th:each="birthdays: ${employee}"th:object="${employee}">
                <p class="mb-0" th:text="${birthdays.birthDate}+' : Поздравляем '+${birthdays.user.name ?: ' '}+ ' ' +${birthdays.user.surname ?: ' '}+' с Днем Рождения!!!'"></p>
            </div>
    </section>
    <section th:replace="fragments/header-and-sidebar :: right-side"></section>
</div>
<div>
    <div th:replace="fragments/header-and-sidebar :: scripts"></div>
    <div id="specific_scripts">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </div>
</div>

</body>
</html>

