<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/news.css}">
</head>
<body>
    <nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
    <aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

    <div class="main" style="margin-top: 40px">
    <section class="content">
        <div class="w-70 mx-auto mt-5">
            <form action="#" th:action="@{/news/create}" th:object="${post}" method="post" enctype="multipart/form-data">
                <div class="input-group my-3">
                    <div class="w-100"><img id="output" class="w-100" /></div>
                    <input type="file" class="form-control w-100 mt-3" multiple="multiple" onchange="loadFile(event)" id="inputGroupFile01" accept="image/jpeg, image/png" th:field="*{image}" required>
                </div>
                <hr>
                <div class="mb-3">
                    <label for="titleInput" class="form-label">Заголовок</label>
                    <input type="text" class="form-control" id="titleInput" placeholder="Введите заголовок новости" th:field="*{title}" required>
                </div>
                <div class="mb-3">
                    <label for="textArea" class="form-label">Текст новости</label>
                    <textarea class="form-control" id="textArea" rows="5" th:field="*{text}" required></textarea>
                </div>
                <div class="mb-4">
                    <label for="select-category" class="form-label">Категория новости</label>
                    <select id="select-category" class="form-select" name="category">
                        <option th:each="category : ${T(com.ihsm.esdp.news.enums.Category).values()}"
                                th:if="${category} != ${T(com.ihsm.esdp.news.enums.Category).PhotoGallery}"
                                th:value="${category}" th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="mb-3 button-right">
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </form>
        </div>
    </section>

    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

    </div>

    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">
            <script th:src="@{/js/news.js}"></script>
        </div>
    </div>
</body>
</html>