<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/news.css}">
</head>
<body>
    <nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
    <aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

    <div class="main" style="margin-top: 40px">
    <section class="content">
        <div class="w-70 mx-auto my-5">
            <h2 class="title" th:text="${#strings.toUpperCase(post.title)}" id="title"></h2>
            <p><i class="far fa-calendar date-icon"></i><small class="text-muted date-size" th:text="${#temporals.format(post.date, 'dd-MM-yyyy HH:mm')}"></small></p>
            <div class="text-center">
                <img th:src="@{'/img/news/default.jpeg'}" th:if="${post.imagePath == null || post.imagePath == ''}" class="h-10">
                <img th:src="@{'/img/news/' + ${post.imagePath}}" th:if="${post.category} != ${T(com.ihsm.esdp.news.enums.Category).PhotoGallery}" th:unless="${post.imagePath == null  || post.imagePath == ''}" class="card-img-top card-image" alt="Post's photo">
                <img th:src="@{'/img/photo/' + ${post.imagePath}}" th:unless="${post.category} != ${T(com.ihsm.esdp.news.enums.Category).PhotoGallery}" th:if="${post.imagePath != null  || post.imagePath == ''}"  class="card-img-top card-image" alt="Post's photo">
            </div>
            <p class="margin-top-30 mb-0" id="text" th:text="${post.text}"></p>

            <div class="mt-5 d-flex justify-content-between">
                <div>
                    <a th:if="${all}" th:href="@{/news/all(size=${pages.getPageSize()}, page=${pages.getPageNumber()})}" class="btn btn-outline-danger button-more">Назад</a>
                    <a th:if="${ourLife}" th:href="@{/news/our-life(size=${pages.getPageSize()}, page=${pages.getPageNumber()})}" class="btn btn-outline-danger button-more">Назад</a>
                    <a th:if="${!all and !ourLife}" th:href="@{/}" class="btn btn-outline-danger button-more">Назад</a>
                    <a sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')" class="btn btn-outline-success button-more button-margin" id="button-update" th:href="@{/news/{newsId}(newsId=${post.id}, size=${pages.getPageSize()}, page=${pages.getPageNumber()}, all=${all}, ourLife=${ourLife}, change=true)}" type="button">Изменить</a>
                </div>
                <div class="text-to-right">
                    <button type="button" class="btn btn-outline-danger button-more button-margin ms-0" data-bs-toggle="modal" data-bs-target="#modalWindow" sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')">Удалить новость</button>
                </div>
            </div>
        </div>
        <div class="modal-windows">
            <div class="modal fade" id="modalWindow" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="btn-close close-button" data-bs-dismiss="modal" aria-label="Close" ></button>
                        <div class="modal-body modal-window-body">
                            <p class="modal-window-text" th:text="'Вы уверены, что хотите удалить текущую новость с темой \'' + ${post.title} + '\'?'"></p>
                            <div class="text-to-right d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary modal-button" data-bs-dismiss="modal">Нет</button>
                                <form th:action="@{/news/delete/{postId}(postId=${post.id}, ourLife=${ourLife}, all=${all}, size=${pages.getPageSize()}, page=${pages.getPageNumber()})}" method="post">
                                    <button class="btn btn-outline-danger modal-button" type="submit" th:text="Да"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section th:replace="fragments/header-and-sidebar :: right-side"></section>
    </div>
    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">
            <script th:src="@{/js/news.js}"></script>
        </div>
    </div>
</body>
</html>