<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/news.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
</head>
<body>
    <nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
    <aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

    <div class="main" style="margin-top: 40px">
        <section class="content">
            <h2 th:if="${ourLife}" class="text-center mb-3">НАША ЖИЗНЬ</h2>
            <div th:unless="${ourLife}">
                <h2 th:if="${!all}" class="text-center mb-3">НОВОСТИ</h2>
                <h2 th:unless="${!all}" class="text-center mb-3">ОФИЦИАЛЬНАЯ ИНФОРМАЦИЯ</h2>
            </div>
            <section class="mx-auto w-70">
                <div th:each="post : ${news}">
                    <div class="card mb-3 border-0 post" th:attr="id=${post.id}">
                        <div class="card-body px-0">
                            <img th:src="@{'/img/news/default.jpeg'}" th:if="${post.imagePath == null}" class="h-10">
                            <img th:src="@{'/img/news/' + ${post.imagePath}}" th:if="${post.category} != ${T(com.ihsm.esdp.news.enums.Category).PhotoGallery}" th:unless="${post.imagePath == null}" class="card-img-top card-image" alt="Post's photo">
                            <img th:src="@{'/img/photo/' + ${post.imagePath}}" th:unless="${post.category} != ${T(com.ihsm.esdp.news.enums.Category).PhotoGallery}" th:if="${post.imagePath != null}"  class="card-img-top card-image" alt="Post's photo">
                            <p class="card-text mt-1 mb-4"><small class="text-muted text-date" th:text="${#temporals.format(post.date, 'dd-MM-yyyy HH:mm')}"></small></p>
                            <h5 class="posts-title mb-3" th:text="${#strings.toUpperCase(post.title)}"></h5>
                            <p class="card-text post-text" th:if="${post.text.length() > 350}" th:text="${#strings.substring(post.text, 0, 349)} + '...'" ></p>
                            <p class="card-text post-text" th:if="${post.text.length() <= 350}" th:text="${post.text}"></p>
                        </div>
                        <div class="text-right button-div mt-3">
                            <a th:if="${all and !ourLife}" th:href="@{/news/{postId}(postId=${post.id}, all=${all}, our-life=${ourLife},  size=${pages.getPageSize()},page=(${pages.getPageNumber()}))}" class="btn btn-outline-danger button-more">Читать далее</a>
                            <a th:if="${!all and !ourLife}" th:href="@{/news/{postId}(postId=${post.id})}" class="btn btn-outline-danger button-more">Читать далее</a>
                            <a th:if="${ourLife}" th:href="@{/news/{postId}(postId=${post.id}, all=${all}, ourLife=${ourLife}, size=${pages.getPageSize()},page=${pages.getPageNumber()})}" class="btn btn-outline-danger button-more">Читать далее</a>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4 mb-3" th:if="${!all and !ourLife}">
                    <a class="text-dark link-to-all-news" href="/news/all">Подробнее</a>
                </div>
                <div class="text-center mb-3" th:if="${!all and !ourLife}" sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')">
                    <a th:href="@{/news/create}" class="btn btn-outline-success px-2 py-1">Создать новость</a>
                </div>
                <div class="mb-5 margin-top-30 text-center mx-auto" th:if="${all}">
                    <div class="pagination">
                        <a th:href="@{/news/all(size=${pages.getPageSize()}, page=(${firstPageOfSequence - 10}))}" th:if="${firstPageOfSequence != 0}" th:text="'<'"></a>
                        <button class="active" type="button" th:if="${firstPageOfSequence == 0}" th:text="'<'" disabled></button>
                    </div>
                    <div class="mx-auto pagination" th:each="i : ${#numbers.sequence(firstPageOfSequence + 1, totalPage, 1)}">
                        <div th:if="${totalPage <= 10}">
                            <div th:if="${i == 10}">
                                <button type="button" th:text="${i}" th:if="${i}==${pages.getPageNumber() + 1}" class="active tenAndMore" disabled></button>
                                <a class="tenAndMore" th:text="${i}" th:if="${i}!=${pages.getPageNumber() + 1}" th:href="@{/news/all(size=${pages.getPageSize()}, page=(${i}-1))}"></a>
                            </div>
                            <div th:unless="${i == 10}">
                                <button type="button" th:text="${i}" th:if="${i}==${pages.getPageNumber() + 1}" class="active" disabled></button>
                                <a th:text="${i}" th:if="${i}!=${pages.getPageNumber() + 1}" th:href="@{/news/all(size=${pages.getPageSize()}, page=(${i}-1))}"></a>
                            </div>
                        </div>
                        <div th:unless="${totalPage <= 10}">
                            <button type="button" th:text="${i}" th:if="${i}==${pages.getPageNumber() + 1}" class="active tenAndMore"  disabled></button>
                            <a th:text="${i}" th:if="${i}!=${pages.getPageNumber() + 1}" class="tenAndMore" th:href="@{/news/all(size=${pages.getPageSize()}, page=(${i}-1))}"></a>
                        </div>
                    </div>
                    <div class="pagination">
                        <a th:href="@{/news/all(size=${pages.getPageSize()}, page=(${totalPage}))}" th:if="${allPages != totalPage}">></a>
                        <button class="active" type="button" th:unless="${allPages != totalPage}" disabled>></button>
                    </div>
                </div>
                <div class="mb-5 margin-top-30 text-center mx-auto" th:if="${ourLife}">
                    <div class="pagination">
                        <a th:href="@{/news/our-life(size=${pages.getPageSize()}, page=(${firstPageOfSequence - 10}))}" th:if="${firstPageOfSequence != 0}" th:text="'<'"></a>
                        <button class="active" type="button" th:if="${firstPageOfSequence == 0}" th:text="'<'" disabled></button>
                    </div>
                    <div class="mx-auto pagination" th:each="i : ${#numbers.sequence(firstPageOfSequence + 1, totalPage, 1)}">
                        <div th:if="${totalPage <= 10}">
                            <div th:if="${i == 10}">
                                <button type="button" th:text="${i}" th:if="${i}==${pages.getPageNumber() + 1}" class="active tenAndMore" disabled></button>
                                <a class="tenAndMore" th:text="${i}" th:if="${i}!=${pages.getPageNumber() + 1}" th:href="@{/news/our-life(size=${pages.getPageSize()}, page=(${i}-1))}"></a>
                            </div>
                            <div th:unless="${i == 10}">
                                <button type="button" th:text="${i}" th:if="${i}==${pages.getPageNumber() + 1}" class="active" disabled></button>
                                <a th:text="${i}" th:if="${i}!=${pages.getPageNumber() + 1}" th:href="@{/news/our-life(size=${pages.getPageSize()}, page=(${i}-1))}"></a>
                            </div>
                        </div>
                        <div th:unless="${totalPage <= 10}">
                            <button type="button" th:text="${i}" th:if="${i}==${pages.getPageNumber() + 1}" class="active tenAndMore"  disabled></button>
                            <a th:text="${i}" th:if="${i}!=${pages.getPageNumber() + 1}" class="tenAndMore" th:href="@{/news/our-life(size=${pages.getPageSize()}, page=(${i}-1))}"></a>
                        </div>
                    </div>
                    <div class="pagination">
                        <a th:href="@{/news/our-life(size=${pages.getPageSize()}, page=(${totalPage}))}" th:if="${allPages != totalPage}">></a>
                        <button class="active" type="button" th:unless="${allPages != totalPage}" disabled>></button>
                    </div>
                </div>
            </section>
        </section>
        <section th:replace="fragments/header-and-sidebar :: right-side"></section>
    </div>

    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">
            <script th:src="@{/js/news.js}"></script>
        </div>
    </div>
</body>
</html>