<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/news.css}">
</head>
<body>
    <nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
    <aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

    <div class="main" style="margin-top: 40px">
    <section class="content">
        <form class="w-70 mx-auto my-5" action="#" th:action="@{/news/{newsId}/change(newsId=${post.id}, all=${all}, ourLife=${ourLife}, size=${pages.getPageSize()}, page=${pages.getPageNumber()})}" th:object="${post}" method="post" enctype="multipart/form-data">
            <input hidden th:field="*{category}">
            <input class="title w-100" id="title" th:field="*{title}" th:attr="value = ${#strings.toUpperCase(post.title)}" autofocus>
            <p><i class="far fa-calendar date-icon"></i><small class="text-muted date-size" th:text="${#temporals.format(post.date, 'dd-MM-yyyy HH:mm')}"></small></p>
            <div th:if="${post.imagePath==null}">
                <img th:id="output" src="/upload/news/default.jpeg" class="empty-space-for-photo w-100">
                <span class="position-absolute cam-on-center">
                <i class="fas fa-camera"></i>
            </span>
            </div>
            <div th:unless="${post.imagePath==null}">
                <img th:id="output"  th:src="'/img/news/' + ${post.imagePath}" class="card-img-top card-image w-100" alt="News' photo">
            </div>
            <input hidden type="text" th:field="*{imagePath}" th:value="${post.imagePath}">
            <input type="file" class="form-control mt-5" id="inputGroupFile01" onchange="loadFile(event)" accept="image/jpeg, image/png" th:field="*{image}">

            <textarea class="form-control mt-5" id="textArea" rows="10" th:field="*{text}" th:text="${post.text}"></textarea>
            <div class="mt-3">
                <a th:href="@{/news/{newsId}(newsId=${post.id}, size=${pages.getPageSize()}, page=${pages.getPageNumber()}, all=${all}, ourLife=${ourLife}, change=false)}" class="btn btn-outline-danger button-more">Назад</a>
                <button class="btn btn-outline-success button-more button-margin" id="button-update" type="submit">Сохранить</button>
            </div>
        </form>
    </section>


    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

    </div>

    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">
            <script th:src="@{/js/news.js}"></script>
        </div>
    </div>
</body>
</html>