<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/docs.css}">
    <link rel="stylesheet" th:href="@{/css/docs-spoiler-style.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
</head>
<body>
<nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
<aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

<div class="main" style="margin-top: 40px">
    <section class="content w-100">
        <h2 class="text-center fw-light text-dark mb-0" th:text="${categoryDocsObj.categoryName}"></h2>
        <div class="group-docs-list one">
            <div class="list-block" th:each="doc : ${docs}">
                <a target="_blank" th:text="${doc.documentName}"  th:href="@{../../documents/download/{id}(id=${doc.pathUploadFile})}" ></a>
            </div>
        </div>
        <div class="mb-5 margin-top-30 text-center mx-auto">
            <div class="pagination">
                <a th:href="@{/documents/category/{category}(category=${categoryDocsObj.id}, size=${pages.getPageSize()}, page=(${firstPageOfSequence - 10}))}" th:if="${firstPageOfSequence != 0}" th:text="'<'"></a>
                <button class="active" type="button" th:if="${firstPageOfSequence == 0}" th:text="'<'" disabled></button>
            </div>
            <div class="mx-auto pagination" th:each="i : ${#numbers.sequence(firstPageOfSequence + 1, totalPage, 1)}">
                <div th:if="${totalPage <= 10}">
                    <div th:if="${i == 10}">
                        <button type="button" th:text="${i}" th:if="${i}==${pages.getPageNumber() + 1}" class="active tenAndMore" disabled></button>
                        <a class="tenAndMore" th:text="${i}" th:if="${i}!=${pages.getPageNumber() + 1}" th:href="@{/documents/category/{category}(category=${categoryDocsObj.id}, size=${pages.getPageSize()}, page=(${i}-1))}"></a>
                    </div>
                    <div th:unless="${i == 10}">
                        <button type="button" th:text="${i}" th:if="${i}==${pages.getPageNumber() + 1}" class="active" disabled></button>
                        <a th:text="${i}" th:if="${i}!=${pages.getPageNumber() + 1}" th:href="@{/documents/category/{category}(category=${categoryDocsObj.id}, size=${pages.getPageSize()}, page=(${i}-1))}"></a>
                    </div>
                </div>
                <div th:unless="${totalPage <= 10}">
                    <button type="button" th:text="${i}" th:if="${i}==${pages.getPageNumber() + 1}" class="active tenAndMore"  disabled></button>
                    <a th:text="${i}" th:if="${i}!=${pages.getPageNumber() + 1}" class="tenAndMore" th:href="@{/documents/category/{category}(category=${categoryDocsObj.id}, size=${pages.getPageSize()}, page=(${i}-1))}"></a>
                </div>
            </div>
            <div class="pagination">
                <a th:href="@{/documents/category/{category}(category=${categoryDocsObj.id}, size=${pages.getPageSize()}, page=(${totalPage}))}" th:if="${allPages != totalPage}">></a>
                <button class="active" type="button" th:unless="${allPages != totalPage}" disabled>></button>
            </div>
        </div>
    </section>
    <section th:replace="fragments/header-and-sidebar :: right-side"></section>
</div>s
<div>
    <div th:replace="fragments/header-and-sidebar :: scripts"></div>
    <div id="specific_scripts">
        <!--Сюда вставлять скрипты, которые нужны только для текущей страницы-->
    </div>
</div>
</body>
</html>