<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/static/css/photo.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
</head>
<body>
<nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
<aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

<div class="main" style="margin-top: 40px">
    <section class="content" style="text-align: center;">
        <h2 class="tittle" th:text="${album.albumName ?: ''}"></h2>
        <form class="form-margin-left" th:action="'/photo/addToAlbum/' + ${albumId}" method="post" enctype="multipart/form-data" sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')">
            <div class="form-group">
                <div class="custom-file">
                    <div class="mb-3">
                        <label for="file" class="form-label"></label>
                        <input class="form-control" type="file" id="file" name="file" accept="image/*" required multiple>
                    </div>
                        <button type="submit" class="btn btn-primary">Добавить фотографию</button>
                </div>
            </div>
        </form>
        <form id="delete" class="form-margin-left" th:action="@{/gallery/remove}" method="post" style="margin-top: 40px" sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')">
            <input type="text" name="id" th:value="${albumId}" hidden >
            <button type="submit" class="btn btn-primary">Удалить галлерею</button>

        </form>

        <section class="gallery" style="display: flex; flex-wrap: wrap">

            <div class="gallery-list" th:each="photo : ${photos}" >
                <a class="gallery-item"  th:href="@{'/photo/picture/'+${photo.id}}">
                    <div class="gallery-item-hover">Посмотрерь</div>
                    <img class="card-img" th:src="@{'/img/photo/'+${photo.photoNamePath}}">
                </a>

            </div>

        </section>


    </section>


    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

</div>
    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">
            <script
                    src="https://code.jquery.com/jquery-3.6.0.js"
                    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
            <script>
                $("gallery-list").magnificPopup({
                    delegate:"a",
                    type:"image",
                    gallery:{
                        enable:true
                    }
                })

            </script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        </div>
    </div>


</body>
</html>