<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/static/css/gallery.css}">
    <link rel="stylesheet" th:href="@{/static/css/photo.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
<aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

<div class="main" style="margin-top: 40px">
    <section class="content" style="text-align: center; margin-bottom: 40px">
        <div class="form-group mt-3">
            <h2 style="text-align: center;margin-bottom: 10px;margin-top: 10px ;">Фото галерея</h2>
            <a sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')" class="btn btn-primary butt" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="margin-bottom: 20px; color: #FFFFFF">
                Создать альбом
            </a>
            <div class="collapse rom" id="collapseExample">
                <div class="form-group mt-3" sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')">
                    <form th:action="'/gallery/creat-album'" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" class="form-control" name="albumName" placeholder="Название темы" required/>
                        </div>
                        <div class="form-group">
                            <div class="custom-file">
                                <div class="mb-3">
                                    <label for="file" class="form-label"></label>
                                    <input class="form-control" type="file" id="file" name="file" accept="image/*" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style=" margin-bottom: 40px">
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

            <div class="container">
                <div class="gird">
                    <div class="gird-item" th:each="album : ${albums}">
                        <div class="card" th:onclick="'window.location.href=\'/gallery/album/' + ${album.id} + '\''">
                            <img class="card-img" th:src="@{'/img/photo/'+${album.photoPath}}">
                            <div class="card-content">
                                <h1 class="card-header" th:text="${album.albumName}"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>


    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

</div>

    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        </div>
    </div>

</body>
</html>