<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/static/css/gallery.css}">
    <link rel="stylesheet" th:href="@{/static/css/photo.css}">
</head>
<body>
<nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
<aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

<div class="main" style="scrollbar-width: none;">
    <section class="content">

        <img class="card-img" th:src="@{'/img/photo/'+${photo.photoNamePath}}" style="width:100%;height: auto;margin-top: 40px">

        <div class="action" style="display: flex;justify-content: space-around; margin-top: 40px">

            <a th:href="@{'/gallery/album/'+${photo.album.id}}" class="btn btn-primary text-white" onclick="goBack()" style="font-family: sans-serif; font-weight: 400">Вернуться к галерее</a>

                <form th:action="@{'/photo/delete/'+${photo.id}}" method="post">

                    <label>
                        <input name="albumId" type="text" th:value="${photo.album.id}" hidden>
                    </label>

                    <button sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')" class="btn btn-primary" style="font-family: sans-serif; font-weight: 400;">
                                     <i class="fas fa-trash"></i>
                                    Удалить картинку
                            </button>
                </form>

        </div>
    </section>
    <section th:replace="fragments/header-and-sidebar :: right-side"></section>
</div>

<div>
    <div th:replace="fragments/header-and-sidebar :: scripts"></div>
    <div id="specific_scripts">
        <script src="https://kit.fontawesome.com/d17d5b89bc.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
</div>
</body>
</html>