<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/v5.11.1/css/free.min.css" media="all">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/docs-spoiler-style.css}">
</head>
<body>
<nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
<aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>
<div class="main" style="margin-top: 40px">
    <section class="content" style="height: 75vh">
        <div class="group-docs-list one">
            <div class="list-block">
                <div class="docs-list-title">Что делать, если хочешь уволиться?</div>
                <div class="docs-list-body">
                    <div>
                        <p class="fw-normal">Инструкцию/пример бланка можете скачать, нажав на ссылку ниже</p>
                        <div th:each="doc : ${docs}" th:if="${doc.documentName.contains('for_dismissal')}" class="w-100 fw-400">
                            <button type="button" class="btn btn-outline-danger button-delete-doc" data-bs-toggle="modal" th:data-bs-target="'#modalWindow' + ${doc.id}" sec:authorize="hasAnyAuthority('ROLE_SUPER_ADMIN')">Удалить</button>
                            <a class="text-dark" target="_blank" th:href="@{../../documents/download/{id}(id=${doc.pathUploadFile})}" th:text="${#strings.substringAfter(doc.documentName, '$')}"></a>
                        </div>
                        <div sec:authorize="hasAnyAuthority('ROLE_SUPER_ADMIN')">
                            <br>
                            <h5 class="mt-3">Загрузка документа</h5>
                            <form th:action="'/guide/add-doc/'" method="post" enctype="multipart/form-data" sec:authorize="hasAnyAuthority('ROLE_SUPER_ADMIN')">
                                <input hidden name="doc_type" value="for_dismissal">
                                <div class="field-row">
                                    <label class="cols-md-5 fw-normal" for="dismiss">Выберите Документ</label>
                                    <input type="file" name="file" class="form-control-file" id="dismiss">
                                </div>
                                <div class="field-row">
                                    <button type="submit" class="btn btn-primary">Добавить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-block">
                <div class="docs-list-title">Что делать, если хочется взять отпуск?</div>
                <div class="docs-list-body">
                    <div>
                        <p class="fw-normal">Инструкцию/пример бланка можете скачать, нажав на ссылку ниже</p>
                        <div th:each="doc : ${docs}" th:if="${doc.documentName.contains('for_vacation')}" class="w-100 fw-400">
                            <button type="button" class="btn btn-outline-danger button-delete-doc" data-bs-toggle="modal" th:data-bs-target="'#modalWindow' + ${doc.id}" sec:authorize="hasAnyAuthority('ROLE_SUPER_ADMIN')">Удалить</button>
                            <a class="text-dark" target="_blank" th:href="@{../../documents/download/{id}(id=${doc.pathUploadFile})}" th:text="${#strings.substringAfter(doc.documentName, '$')}"></a>
                        </div>
                        <div sec:authorize="hasAnyAuthority('ROLE_SUPER_ADMIN')">
                            <br>
                            <h5 class="mt-3">Загрузка документа</h5>
                            <form th:action="'/guide/add-doc/'" method="post" enctype="multipart/form-data" sec:authorize="hasAnyAuthority('ROLE_SUPER_ADMIN')">
                                <input hidden name="doc_type" value="for_vacation">
                                <div class="field-row">
                                    <label class="cols-md-5 fw-normal" for="default_vac">Выберите Документ</label>
                                    <input type="file" name="file" class="form-control-file" id="default_vac">
                                </div>
                                <div class="field-row">
                                    <button type="submit" class="btn btn-primary">Добавить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-block">
                <div class="docs-list-title">Что делать, если хочешь взять отпуск без содержания?</div>
                <div class="docs-list-body">
                    <div>
                        <p class="fw-normal">Инструкцию/пример бланка можете скачать, нажав на ссылку ниже</p>
                        <div th:each="doc : ${docs}" th:if="${doc.documentName.contains('for_vac_without_pay')}" class="w-100 fw-400">
                            <button type="button" class="btn btn-outline-danger button-delete-doc" data-bs-toggle="modal" th:data-bs-target="'#modalWindow' + ${doc.id}" sec:authorize="hasAnyAuthority('ROLE_SUPER_ADMIN')">Удалить</button>
                            <a class="text-dark" target="_blank" th:href="@{../../documents/download/{id}(id=${doc.pathUploadFile})}" th:text="${#strings.substringAfter(doc.documentName, '$')}"></a>
                        </div>
                        <div sec:authorize="hasAnyAuthority('ROLE_SUPER_ADMIN')">
                            <br>
                            <h5 class="mt-3">Загрузка документа</h5>
                            <form th:action="'/guide/add-doc/'" method="post" enctype="multipart/form-data" sec:authorize="hasAnyAuthority('ROLE_SUPER_ADMIN')">
                                <input hidden name="doc_type" value="for_vac_without_pay">
                                <div class="field-row">
                                    <label class="cols-md-5 fw-normal" for="vac_no_pay">Выберите Документ</label>
                                    <input type="file" name="file" class="form-control-file" id="vac_no_pay">
                                </div>
                                <div class="field-row">
                                    <button type="submit" class="btn btn-primary">Добавить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-windows">
            <div th:each="modalWindow : ${docs}" class="modal fade" th:id="'modalWindow' + ${modalWindow.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="btn-close close-button" data-bs-dismiss="modal" aria-label="Close" ></button>
                        <div class="modal-body modal-window-body">
                            <p class="modal-window-text" th:text="'Вы уверены, что хотите удалить \'' + ${#strings.substringAfter(modalWindow.documentName, '$')} + '\'?'"></p>
                            <div class="text-to-right">
                                <button type="button" class="btn btn-secondary modal-button" data-bs-dismiss="modal">Нет</button>
                                <form th:action="@{/guide/delete/{docId}(docId=${modalWindow.id})}" method="post">
                                    <button class="btn btn-outline-danger modal-button" type="submit" th:text="Да"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

</div>

<div>
    <div th:replace="fragments/header-and-sidebar :: scripts"></div>
    <div id="specific_scripts">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script th:src="@{/js/spoiler_docs_list.js}"></script>
    </div>
</div>
</body>
</html>
