<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/personnel-management-styles.css}">
</head>
<body>
<nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
<aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

<div class="main" style="margin-top: 40px">
    <section class="content">
        <div class="employees-list">
            <div class="position-absolute w-100">
                <div th:if="${default_message} == null" th:each="empl : ${employees_list}">
                    <p class="employees-list-line block-medium-text mb-0 bg-light-gray py-1" th:if="${empl.id == employee.id}" th:text="${empl.surname} + ' ' + ${empl.name} + ' ' + ${empl.patronymic ?: ' '}"></p>
                    <a class="employee-link block-medium-text employees-list-line py-1" th:unless="${empl.id == employee.id}" th:href="@{/employees/management/{id}(id=${empl.id})}" th:text="${empl.surname} + ' ' + ${empl.name} + ' ' +  ${empl.patronymic ?: ' '}"></a>
                </div>
                <div th:unless="${default_message} == null" th:each="empl : ${employees_list}">
                    <a class="employee-link block-medium-text employees-list-line py-1" th:href="@{/employees/management/{id}(id=${empl.id})}" th:text="${empl.surname} + ' ' + ${empl.name} + ' ' +  ${empl.patronymic ?: ' '}"></a>
                </div>
            </div>
        </div>
        <div class="employees-info">
            <div th:if="${default_message} == null">
                <div id="not-null" th:if="${employee.imagePath != null}">
                    <div th:if="${not #strings.isEmpty(employee.imagePath)}">
                        <img th:src="@{'/img/users/' + ${employee.imagePath}}" alt="Фото сотрудника" class="employee-img">
                    </div>
                    <div th:unless="${not #strings.isEmpty(employee.imagePath)}">
                        <p class="text-line my-3">Фотография отсутствует</p>
                    </div>
                </div>
                <div th:unless="${employee.imagePath != null}">
                    <p class="mb-1 text-line my-3">Фотография отсутствует</p>
                </div>
                <div class="text-line">
                    <p th:text="'ФИО:  ' + ${employee.user.surname ?: ''} + ' ' + ${employee.user.name ?: ''} + ' ' + ${employee.patronymic ?: ''}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Подразделение:  '  + ${employee.department?.name ?: 'не указано'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Преподаваемый предмет:  '  + ${employee.subject?.name ?: 'не указан'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Вид занятости:  '  + ${employee.typeOfEmployment?.name ?: 'не указан'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Должность:  '  + ${employee.employeePosition?.name ?: 'не указана'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Пол:  '  + ${employee.gender?.name ?: 'не указан'}"></p>
                </div>
                <div class="block">
                    <div class="block-title text-line">
                        <p class="block-p-title" th:text="'Образование'"></p>
                    </div>
                    <div class="block-body">
                        <div class="edu-block" th:if="${!employee.educations.isEmpty()}" th:each="education : ${employee.educations}">
                            <p class="edu-info text-line" th:text="'Образование: ' + ${education.educationType.name ?: 'не указано'}"></p>
                            <p class="edu-info text-line" th:text="${education.startEducation ?: ''} + ' - ' + ${education.endEducation ?: ''} + ' : ' + ${education.institution}"></p>
                            <p class="edu-info text-line" th:text="'Специальность: ' + ${education.speciality ?: 'не указана'}"></p>
                            <p class="edu-info text-line" th:text="'Квалификация: ' + ${education.diplomaType.name ?: 'не указана'}"></p>
                        </div>
                        <div class="edu-info text-line mb-2" th:unless="${!employee.educations.isEmpty()}" th:text="'Не указано'">
                        </div>
                    </div>
                </div>
                <div class="text-line">
                    Научная степень:
                    <span th:if="${!employee.scienceDegree.isEmpty()}" th:each="degree, stat : ${employee.scienceDegree}" th:text="${stat.index + 1} + '.'+ ${degree.name ?: 'Отсутствует'} + '  '"></span>
                    <span th:unless="${!employee.scienceDegree.isEmpty()}"></span>
                </div>
                <div class="text-line">
                    <p th:if="${employee.scienceTitle != null}" th:text="'Научное звание:  '  + ${employee.scienceTitle.name ?: 'не указано'}"></p>
                    <p th:unless="${employee.scienceTitle != null}" th:text="'Научное звание:  не указано'"></p>
                </div>
                <div class="block">
                    <div class="block-title text-line">
                        <p class="block-p-title" th:text="'Паспортные данные'"></p>
                    </div>
                    <div class="block-body text-line">
                        <div th:if="${employee.passportData == null}">
                            <div class="passport-data">
                                <div class="data-block">
                                    <h5 class="passport-data-title">Серия и номер паспорта</h5>
                                    <p th:text="'Не указаны'"></p>
                                </div>
                                <div class="data-block">
                                    <h5 class="passport-data-title">Срок действия</h5>
                                    <p th:text="'Не указан'"></p>
                                </div>
                            </div>
                            <div class="passport-data">
                                <div class="data-block">
                                    <h5 class="passport-data-title">Орган выдачи</h5>
                                    <p th:text="'Не указан'"></p>
                                </div>
                                <div class="data-block">
                                    <h5 class="passport-data-title">Дата выдачи</h5>
                                    <p th:text="'Не указана'"></p>
                                </div>
                            </div>
                        </div>
                        <div th:unless="${employee.passportData == null}">
                            <div class="passport-data">
                                <div>
                                    <h5 class="passport-data-title">Серия и номер паспорта</h5>
                                    <p>
                                        <span th:text="${employee.passportData.series ?: '  '} "></span>
                                        <span th:text="${employee.passportData.documentNumber ?: 'не указан'}"></span>
                                    </p>
                                </div>
                                <div>
                                    <h5 class="passport-data-title">Срок действия</h5>
                                    <p th:if="${employee.passportData.dateOfExpiry != null}" th:text="${employee.passportData.dateOfExpiry}"></p>
                                    <p th:unless="${employee.passportData.dateOfExpiry != null}" th:text="'Не указан'"></p>
                                </div>
                            </div>
                            <div class="passport-data">
                                <div>
                                    <h5 class="passport-data-title">Орган выдачи</h5>
                                    <p th:if="${employee.passportData.authority != null}" th:text="${employee.passportData.authority}"></p>
                                    <p th:unless="${employee.passportData.authority != null}" th:text="'Не указан'"></p>
                                </div>
                                <div>
                                    <h5 class="passport-data-title">Дата выдачи</h5>
                                    <p th:if="${employee.passportData.dateOfIssue != null}" th:text="${employee.passportData.dateOfIssue}"></p>
                                    <p th:unless="${employee.passportData.dateOfIssue != null}" th:text="'Не указана'"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-line">
                    <p th:text="'Воинское звание:  '  + ${employee.militaryRank ?: 'не указан'}"></p>
                </div>
                <div class="block">
                    <div class="block-title text-line">
                        <p th:if="${employee.startWork != null}" class="block-p-title" th:text="'Стаж работы в МВШМ: ' + ${#dates.year(#dates.createNow()) - employee.startWork.year}"></p>
                        <p th:unless="${employee.startWork != null}" class="block-p-title" th:text="'Стаж работы в МВШМ: Нет'"></p>
                    </div>
                    <div class="block-body">
                        <div class="my-3" th:if="${!employee.employments.isEmpty()}" th:each="employment : ${employee.employments}">
                            <div class="px-2 text-line">
                                <span class="fw-400" th:text="${employment.transferDateIn ?: ' '}"></span> -
                                <span class="fw-400" th:text="${employment.transferDateOut ?: 'настоящий момент'}"></span> :
                                <span th:if="${employment.employeePosition != null}" th:text="${employment.employeePosition?.name ?: ' '}"></span>
                                <span th:unless="${employment.employeePosition != null}" th:text="'не указана'"></span>
                                <span th:if="${employment.department != null}" th:text="' | Отдел: ' +  ${#strings.toLowerCase(employment.department.name) ?: ' '}"></span>
                                <span th:unless="${employment.department != null}" th:text="' | Отдел: не указан'"></span>
                            </div>
                        </div>
                        <div class="py-1 text-line" th:unless="${!employee.employments.isEmpty()}" th:text="'Не указано'"></div>
                    </div>
                </div>
                <div class="block block-family">
                    <div class="block-title text-line">
                        <p class="block-p-title" th:text="'Семья'"></p>
                    </div>
                    <div class="block-body">
                        <div class="text-line mb-3 px-2" th:if="${employee.maritalStatus != null}" th:text="'Семейное положение: ' +  ${employee.maritalStatus.name ?: T(com.ihsm.esdp.users.information.MaritalStatus).NOT_SPECIFIED.name}"></div>
                        <div class="text-line mb-3 px-2" th:unless="${employee.maritalStatus != null}" th:text="'Семейное положение: Не указано'"></div>
                        <div class="mt-2 family-member-block block-medium-text" th:if="${!employee.family.isEmpty()}" th:each="member : ${employee.family}">
                            <p class="text-family-block" th:text="${member.relation ?: 'Член семьи не указан'} + ' :    ' + ${member.surname ?: ' '} + ' ' + ${member.name ?: ' '} + ' ' + ${member.patronymic ?: ' '}"></p>
                            <p class="text-family-block" th:text="'Дата рождения : ' + ${member.birthDate ?: 'Не указана'}"></p>
                        </div>
                        <p class="mt-2 pt-3 family-member-block text-line block-medium-text" th:unless="${!employee.family.isEmpty()}" th:text="'Информация отсутствует'"></p>
                    </div>
                </div>
                <div class="text-line">
                    <p th:text="'Дата рождения:  '  + ${employee.birthDate ?: 'не указана'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Дата приёма:  '  + ${employee.startWork ?: 'не указана'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Дата увольнения:  '  + ${employee.dismissalDate ?: 'не указана'}"></p>
                </div>
                <div class="block">
                    <div class="block-title text-line">
                        <p class="block-p-title" th:text="'Награды'"></p>
                    </div>
                    <div class="block-body">
                        <div class="mt-2 award-info block-medium-text">
                            <p class="mb-2" th:if="${!employee.awards.isEmpty()}" th:each="award : ${employee.awards}" th:text="${award.date ?: 'Не указан'} + ' - ' + ${award.name ?: 'Не указано'}"></p>
                        </div>
                        <p class="edu-info text-line mb-2 mt-3" th:unless="${!employee.awards.isEmpty()}" th:text="'Отсутствуют'"></p>
                    </div>
                </div>
                <div class="text-line">
                    <p th:text="'Адрес кафедры:  '  + ${employee.address ?: 'не указан'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'№ кабинета:  '  + ${employee.roomNumber ?: 'не указан'}"></p>
                </div>
                <div class="button-update-div">
                    <a th:href="@{/employees/management/{id}/change(id=${employee.id})}" class="btn btn-success button-update" th:text="'Редактировать'"></a>
                </div>
            </div>
            <div class="height-75vh empl-not-found-text" th:unless="${default_message} == null" th:text="${default_message}"></div>
        </div>
        <button class="btn btn-light button-actions" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Действия</button>

        <div class="offcanvas offcanvas-end actions-canvas" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Действия</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="actions">
                    <div class="action-link">
                        <a th:href="@{/sign-up}" th:text="'Приём на работу'"></a>
                    </div>
                    <div th:if="${default_message == null}" class="not-muted-links">
                        <div class="action-link">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalDismiss">Увольнение</a>

                            <div class="modal fade" id="modalDismiss" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Увольнение</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Вы уверены, что хотите уволить сотрудника?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                            <form th:action="@{/employees/actions/dismiss}" method="post">
                                                <input hidden type="text" name="id" th:value="${employee.id}">
                                                <button class="btn btn-danger">Да</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block my-2">
                            <div class="block-title text-line">
                                <p class="block-p-title" th:text="'Перевод'"></p>
                            </div>
                            <div class="block-body">
                                <div class="mt-2 w-100 block-medium-text">
                                    <p class="pb-1 mt-2 border-bottom trans-history-title">История переводов</p>
                                    <div class="mt-2 w-100 border-bottom" th:if="${!employee.transactions.isEmpty()}" th:each="transac : ${employee.transactions}">
                                        <div class="d-flex w-100">
                                            <p class="w-50 mb-2" th:text="'Приказ №' + ${transac.orderNumber ?: ' '}"></p>
                                            <p class="w-50 mb-2" th:text="'Дата: ' + ${transac.dateOfTransaction ?: ' '}"></p>
                                        </div>
                                        <div class="mb-2" th:text="'Перевод на должность : ' + ${transac.employeePosition.name ?: 'не указана'}"></div>
                                        <div class="mb-2" th:text="'В отдел : ' + ${transac.department.name ?: 'не указан'}"></div>
                                    </div>
                                    <div class="my-2 mx-2" th:unless="${!employee.transactions.isEmpty()}">
                                        <p th:text="'Переводы отсутствуют'"></p>
                                    </div>
                                </div>
                                <p class="border-top trans-title">Оформить перевод</p>
                                <form class="mx-2 block-medium-text" th:action="@{/employees/actions/transaction/create}" th:object="${transaction}" method="post">
                                    <input hidden th:name="'employeeId'" th:value="${employee.id}">
                                    <div class="d-flex w-100 mb-2">
                                        <div class="w-40">
                                            Номер приказа:
                                            <input class="w-20" type="text" th:name="'orderNumber'" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required>
                                        </div>
                                        <div class="trans-date-input w-50 ">
                                            Дата
                                            <input type="date" th:field="*{dateOfTransaction}" required>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        Должность
                                        <input class="mx-2" type="text" th:name="'employeePosition.name'" value="" placeholder="Должность">
                                    </div>
                                    <div class="mb-2">
                                        Подразделение
                                        <select th:name="'department.id'" class="py-1">
                                            <option th:each="dep : ${departments}" th:text="${dep.name}" th:value="${dep.id}"></option>
                                        </select>
                                    </div>
                                    <div class="text-align-right mt-2 mb-3">
                                        <button class="btn btn-outline-success" type="submit">Перевести</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-title text-line">
                                <p class="block-p-title" th:text="'Временная нетрудоспособность'"></p>
                            </div>
                            <div class="block-body">
                                <p class="pb-1 mt-2 border-bottom trans-history-title">Отпуска, больничные</p>
                                <div class="mt-2 w-100 border-bottom block-medium-text" th:if="${!employee.vacationOrders.isEmpty()}" th:each="vac : ${employee.vacationOrders}">
                                    <div class="d-flex w-100">
                                        <p class="w-35 mb-2" th:text="'Приказ №' + ${vac.orderNumber ?: ' '}"></p>
                                        <p class="w-50 mb-2" th:text="'Вид отпуска: ' + ${vac.vacationType?.name ?: 'не указан'}"></p>
                                    </div>
                                    <div class="mb-2" th:text="'Сроки : ' + ${vac.startVacation ?: 'не указан'} + ' -- ' + ${vac.endVacation ?: 'не указан'}"></div>
                                </div>
                                <div class="my-2 mx-2 border-bottom" th:unless="${!employee.vacationOrders.isEmpty()}">
                                    <p class="block-medium-text mb-2 fw-normal" th:text="'Отпуска (больничные) не выдавались'"></p>
                                </div>
                                <div class="mt-2 block-medium-text">
                                    <form class="mx-2" th:action="@{/employees/actions/vacation/give}" th:object="${vacation_order}" method="post">
                                        <input hidden th:name="'employeeId'" th:value="${employee.id}">
                                        <div class="d-flex w-100 mb-2">
                                            <div class="w-40">
                                                Номер приказа:
                                                <input class="w-20" type="text" th:name="'orderNumber'" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required>
                                            </div>
                                            <select class="ml-10 py-1" th:field="*{vacationType}">
                                                <option th:each="vac : ${T(com.ihsm.esdp.users.information.VacationType).values}" th:text="${vac.name}" th:value="${vac}"></option>
                                            </select>
                                        </div>
                                        <div class="mb-2">
                                            <p class="w-100 mb-1">
                                                Даты начала/окончания:
                                            </p>
                                            <div class="w-100 d-flex">
                                                <input class="mr-10" type="date" th:field="*{startVacation}" required> - <input class="ml-10" type="date" th:field="*{endVacation}" required>
                                            </div>
                                        </div>
                                        <div class="text-align-right mb-3">
                                            <button class="btn btn-outline-success" type="submit">Оформить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="block mt-2">
                            <div class="block-title text-line">
                                <p class="block-p-title" th:text="'Командировка'"></p>
                            </div>
                            <div class="block-body">
                                <div class="mt-2 block-medium-text">
                                    <p class="pb-1 mt-2 border-bottom trans-history-title">Командировки</p>
                                    <div class="mt-2 w-100 border-bottom block-medium-text" th:if="${!employee.businessTrips.isEmpty()}" th:each="trip : ${employee.businessTrips}">
                                        <div class="w-100">
                                            <p class="w-35 mb-2" th:text="'Приказ №' + ${trip.orderNumber ?: ' '}"></p>
                                        </div>
                                        <div class="mb-2" th:text="'Сроки : ' + ${trip.dateOfBeginning ?: 'не указан'} + ' -- ' + ${trip.dateOfEnding ?: 'не указан'}"></div>
                                        <div class="d-flex mb-2 w-100">
                                            <p>Цель:</p>
                                            <p class="ml-10" th:text="${trip.purposeOfTheTrip}"></p>
                                        </div>
                                    </div>
                                    <div class="my-2 mx-2 border-bottom" th:unless="${!employee.businessTrips.isEmpty()}">
                                        <p class="block-medium-text mb-2 fw-normal" th:text="'Командировки не проводились'"></p>
                                    </div>
                                    <form class="mx-2 mt-3" th:action="@{/employees/actions/business_trip/add}" th:object="${business_trip}" method="post">
                                        <input hidden th:name="'employeeId'" th:value="${employee.id}">
                                        <div class="w-100 mb-2">
                                            <div class="w-100">
                                                Номер приказа:
                                                <input class="w-8" type="text" th:name="'orderNumber'" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <p class="w-100 mb-1">
                                                Даты начала/окончания:
                                            </p>
                                            <div class="w-100 d-flex">
                                                <input class="mr-10" type="date" th:field="*{dateOfBeginning}" required> - <input class="ml-10" type="date" th:field="*{dateOfEnding}" required>
                                            </div>
                                        </div>
                                        <div class="mb-2 d-flex">
                                            Цель поездки:<textarea class="w-75 ml-10" rows="4" maxlength="1000" placeholder="Введите причину (ограничение - 1000 символов)" th:field="*{purposeOfTheTrip}"></textarea>
                                        </div>
                                        <div class="text-align-right mb-3">
                                            <button class="btn btn-outline-success button-add-new-form" type="submit">Оформить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="block mt-2">
                            <div class="block-title text-line">
                                <p class="block-p-title" th:text="'Прогул, неявка'"></p>
                            </div>
                            <div class="block-body">
                                <div class="mt-2 block-medium-text">
                                    <p class="pb-1 mt-2 border-bottom trans-history-title">Прогулы, неявки</p>
                                    <div class="border-bottom" th:if="${!employee.truancyList.isEmpty()}">
                                        <div class="ml-10" th:each="truan : ${employee.truancyList}">
                                            <div class="mb-2" th:text="'Дата : ' + ${truan.date ?: 'не указана'}"></div>
                                            <div class="d-flex mb-2 w-100">
                                                <p>Причина:</p>
                                                <p class="ml-10" th:text="${truan.reason}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom ml-10 pb-2 fw-400" th:unless="${!employee.truancyList.isEmpty()}" th:text="'Прогулы(неявки) отсутствуют'">
                                    </div>
                                    <form class="mx-2" th:action="@{/employees/actions/truancy/add}" th:object="${truancy}" method="post">
                                        <input hidden th:name="'employeeId'" th:value="${employee.id}">
                                        <div class="mb-2">
                                            <div class="w-100 mt-3">
                                                Дата: <input class="mr-10" type="date" th:field="*{date}" required>
                                            </div>
                                            <div class="w-100 mt-3 d-flex">
                                                Причина:<textarea class="w-75 ml-10" rows="4" maxlength="1000" placeholder="Введите причину (ограничение - 1000 символов)" th:field="*{reason}"></textarea>
                                            </div>
                                        </div>
                                        <div class="text-align-right mb-3">
                                            <button class="btn btn-outline-success button-add-new-form" type="submit">Добавить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="block mt-2">
                            <div class="block-title text-line">
                                <p class="block-p-title" th:text="'График отпусков'"></p>
                            </div>
                            <div class="block-body">
                                <div class="mt-2 block-medium-text">
                                    <p class="pb-1 mt-2 border-bottom trans-history-title">Возможные даты</p>
                                    <div class="border-bottom" th:if="${!employee.vacation.isEmpty()}">
                                        <div class="ml-10" th:each="vac, stat : ${employee.vacation}">
                                            <p class="mb-2 fw-400" th:text="'Отпуск ' + ${stat.index + 1} + ' : ' + ${vac.startVacation ?: 'не указана'} + ' -- ' + ${vac.endVacation ?: 'не указана'}"></p>
                                        </div>
                                    </div>
                                    <div class="border-bottom ml-10 pb-2 fw-400" th:unless="${!employee.vacation.isEmpty()}" th:text="'Отпуска не указаны'">
                                    </div>
                                    <form class="mx-2" th:action="@{/employees/actions/vacation/add}" th:object="${vacation}" method="post">
                                        <input hidden th:name="'employeeId'" th:value="${employee.id}">
                                        <div class="mb-2">
                                            <div class="w-100 mb-1 mt-2">
                                                Сроки отпуска
                                            </div>
                                            <div class="w-100 d-flex">
                                                <input class="mr-10" type="date" th:field="*{startVacation}" required> - <input class="ml-10" type="date" th:field="*{endVacation}" required>
                                            </div>
                                        </div>
                                        <div class="text-align-right mb-3">
                                            <button class="btn btn-outline-success button-add-new-form" type="submit">Добавить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="action-link mt-2">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalRemoveData">Удалить информацию о сотруднике</a>

                            <div class="modal fade" id="modalRemoveData" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalTitle">Удалить информацию</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Вы уверены, что хотите удалить информацию о сотруднике?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                            <form th:action="@{/employees/actions/remove-data}" method="post">
                                                <input hidden type="text" name="employeeId" th:value="${employee.id}">
                                                <button class="btn btn-outline-danger">Да</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="muted-links" th:unless="${default_message} == null">
                        <div class="action-link text-muted">
                            <p class="mb-0" th:text="'Увольнение'"></p>
                        </div>
                        <div class="action-link text-muted">
                            <p class="mb-0" th:text="'Перевод'"></p>
                        </div>
                        <div class="action-link text-muted">
                            <p class="mb-0" th:text="'Временная нетрудоспособность'"></p>
                        </div>
                        <div class="action-link text-muted">
                            <p class="mb-0" th:text="'Командировка'"></p>
                        </div>
                        <div class="action-link text-muted">
                            <p class="mb-0" th:text="'Прогул, неявка'"></p>
                        </div>
                        <div class="action-link text-muted">
                            <p class="mb-0" th:text="'График отпусков'"></p>
                        </div>
                        <div class="action-link text-muted">
                            <p class="mb-0" th:text="'Удалить информацию о сотруднике'"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

</div>
<div>
    <div th:replace="fragments/header-and-sidebar :: scripts"></div>
    <div id="specific_scripts">
        <script th:src="@{/js/spoiler_empl_info.js}"></script>
    </div>
</div>

</body>
</html>