<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/personnel-management-styles.css}">
</head>
<body>
    <nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
    <aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

    <div class="main" style="margin-top: 40px">
    <section class="content">
        <div class="employees-list">
            <div class="position-absolute w-100">
                <div th:if="${default_message} == null" th:each="empl : ${employees_list}">
                    <p class="employees-list-line block-medium-text mb-0 bg-light-gray py-1" th:if="${empl.id == employee.id}" th:text="${empl.surname} + ' ' + ${empl.name} + ' ' + ${empl.patronymic ?: ' '}"></p>
                    <a class="employee-link block-medium-text employees-list-line py-1" th:unless="${empl.id == employee.id}" th:href="@{/employees/management/{id}(id=${empl.id})}" th:text="${empl.surname} + ' ' + ${empl.name} + ' ' +  ${empl.patronymic ?: ' '}"></a>
                </div>
                <div th:unless="${default_message} == null" th:each="empl : ${employees_list}">
                    <a class="employee-link block-medium-text employees-list-line py-1" th:href="@{/employees/management/{id}(id=${empl.id})}" th:text="${empl.surname} + ' ' + ${empl.name} + ' ' +  ${empl.patronymic ?: ' '}"></a>
                </div>
            </div>
        </div>
        <div class="employees-info">
            <form th:action="@{/employees/management/change}" th:object="${employee}" method="post" enctype="multipart/form-data">
                <input hidden th:field="*{id}">
                    <div th:if="${employee.imagePath != null}">
                        <div th:if="${not #strings.isEmpty(employee.imagePath)}">
                            <img th:id="output" th:src="@{'/img/users/' +  ${employee.imagePath}}" class="employee-img">
                        </div>
                        <div th:unless="${not #strings.isEmpty(employee.imagePath)}">
                            <img th:id="output" src="" class="employee-img">
                        </div>
                    </div>
                <div th:unless="${employee.imagePath != null}">
                    <img th:id="output" src="" class="employee-img">
                </div>
                <input hidden type="text" th:field="*{imagePath}">
                <input type="file" class="form-control mt-5 mb-3 w-50" id="inputGroupFile01" onchange="loadFile(event)" accept="image/jpeg, image/png" th:field="*{newPhoto}">
                    <div class="text-line">
                        ФИО:
                        <input class="input-name" type="text" th:field="*{user.surname}" placeholder="Фамилия">
                        <input class="input-name" type="text" th:field="*{user.name}" placeholder="Имя">
                        <input class="input-name" type="text" th:field="*{patronymic}" placeholder="Отчество">
                    </div>
                    <div class="text-line">
                        Подразделение:
                        <select th:name="'department.name'" class="py-1">
                            <option th:if="${employee.department != null}" th:each="dep : ${departments}" th:text="${dep.name}" th:value="${dep.name}" th:selected="${dep.id == employee.department.id}"></option>
                            <option th:unless="${employee.department != null}" th:each="dep : ${departments}" th:text="${dep.name}" th:value="${dep.name}" th:selected="${dep.name == 'Отсутствует'}"></option>
                        </select>
                    </div>
                    <div class="text-line">
                        Преподаваемый предмет:
                        <input type="text" th:name="'subject.name'" th:value="*{subject?.name}" placeholder="Преподаваемый предмет">
                    </div>
                    <div class="text-line">
                        Вид занятости:
                        <select class="py-1" th:field="*{typeOfEmployment}">
                            <option th:each="type : ${T(com.ihsm.esdp.users.information.TypeOfEmployment).values}" th:text="${type.name}" th:value="${type}" th:selected="${type == employee.typeOfEmployment}"></option>
                        </select>
                    </div>
                    <div class="text-line">
                        Должность:
                        <input type="text" th:name="'employeePosition.name'" th:value="*{employeePosition?.name}" placeholder="Должность">
                    </div>
                    <div class="text-line">
                        Пол:
                            <select class="py-1" th:field="*{gender}">
                                <option th:each="gend: ${T(com.ihsm.esdp.users.information.Gender).values}" th:text="${gend.name}" th:value="${gend}" th:selected="${gend == employee.gender}"></option>
                            </select>
                    </div>
                    <div class="block">
                        <div class="block-title text-line">
                            <p class="block-p-title" th:text="'Образование'"></p>
                        </div>
                        <div class="block-body">
                            <div class="education-form edu-info text-line" th:id="'education-form' + ${stat.index}" th:each="education, stat : ${employee.educations}" th:if="${!employee.educations.isEmpty()}">
                                <input hidden type="text" th:name="'educations[' + ${stat.index} + '].toDelete'" value="false">
                                <input hidden type="text" th:name="'educations[' + ${stat.index} + '].new'" value="false">
                                <input hidden type="text" th:name="'educations[' + ${stat.index} + '].id'" th:value="${education.id}">
                                <div class="mb-2">
                                    Образование:
                                    <select th:name="'educations[' + ${stat.index} + '].educationType'" class="py-1">
                                        <option th:each="type : ${T(com.ihsm.esdp.users.information.EducationType).values}" th:text="${type.name}" th:value="${education.educationType}" th:selected="${education.educationType == type}"></option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <div class="inline-block">
                                        <p class="text-on-the-date">Выберите дату начала и окончания обучения</p>
                                        <select class="date-select" th:name="'educations[' + ${stat.index} + '].startEducation'">
                                            <option th:each="year: ${#numbers.sequence(1930, #dates.year(#dates.createNow()))}" th:text="${year}"
                                                    th:value="${year}" th:selected="${education.startEducation == year}"></option>
                                        </select> -
                                        <select class="date-select" th:name="'educations[' + ${stat.index} + '].endEducation'">
                                            <option value="" selected>Дата окончания</option>
                                            <option th:each="year: ${#numbers.sequence(1930, #dates.year(#dates.createNow()))}" th:text="${year}"
                                                    th:value="${year}"  th:selected="${education.endEducation == year}"></option>
                                        </select>
                                    </div>:
                                    <div class="inline-block w-35">
                                        <input class="w-100" type="text" th:name="'educations[' + ${stat.index} + '].institution'" th:value="${education.institution ?: ''}" placeholder="Название учебного заведения">
                                    </div>
                                </div>
                                <div class="mb-2">
                                    Специальность: <input type="text" th:name="'educations[' + ${stat.index} + '].speciality'" th:value="${education.speciality ?: ''}" placeholder="Специальность">
                                </div>
                                <div class="mb-2">
                                    Квалификация:
                                    <select th:name="'educations[' + ${stat.index} + '].diplomaType'" class="py-1">
                                        <option th:each="degree : ${T(com.ihsm.esdp.users.information.AcademicDegree).values}" th:text="${degree.name}" th:value="${degree}" th:selected="${degree == education.diplomaType}"></option>
                                    </select>
                                </div>
                                <div class="button-delete-edu-form">
                                    <button type="button" class="btn btn-outline-danger button-add-new-form button-delete">Удалить</button>
                                </div>
                            </div>
                            <div class="edu-info text-line" id="edu-form-empty" th:unless="${!employee.educations.isEmpty()}">
                                <p class="text-line">Данные отсутствуют</p>
                            </div>
                            <div class="button-add-new-form-div" id="button-add-new-form-div">
                                <button class="btn btn-outline-primary button-add-new-form mb-2" id="create-new-edu-form" type="button">Добавить</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-line">
                        <div class="d-flex">
                            <div class="mt-1 science-title-title">Научная степень</div>
                            <div class="degrees-inputs" id="degrees-inputs">
                                <div th:if="${!employee.scienceDegree.isEmpty()}" th:each="degree, stat: *{scienceDegree}" class="mb-3 degree-input">
                                    <input hidden type="text" th:name="'scienceDegree[' + ${stat.index} + '].toDelete'" value="false">
                                    <input hidden type="text" th:name="'scienceDegree[' + ${stat.index} + '].new'" value="false">
                                    <input hidden type="text" th:name="'scienceDegree[' + ${stat.index} + '].id'" th:value="${degree.id}">
                                    <input class="w-60" type="text" placeholder="Наименование" th:name="'scienceDegree[' + ${stat.index} + '].name'" th:value="${degree.name ?: ''}">
                                    <button class="btn btn-outline-danger button-delete-input" type="button">Удалить</button>
                                </div>
                                <div th:unless="${!employee.scienceDegree.isEmpty()}" class="mb-3" id="degree-input-empty">
                                    <p class="text-line">Данные отсутствуют</p>
                                </div>

                            </div>
                        </div>
                        <div class="add-input-degree-div">
                            <button class="btn btn-outline-primary" id="add-input-degree-button" type="button">Добавить поле</button>
                        </div>

                    </div>
                    <div class="text-line">
                        Научное звание:
                        <select class="py-1" th:field="*{scienceTitle}">
                            <option th:if="${employee.scienceTitle == null || employee.scienceTitle == T(com.ihsm.esdp.users.information.ScienceTitle).NOT_SPECIFIED}" th:each="title: ${T(com.ihsm.esdp.users.information.ScienceTitle).values}" th:id="${title.name}" th:text="${title.name}" th:value="${title}" th:selected="${title == T(com.ihsm.esdp.users.information.ScienceTitle).NOT_SPECIFIED}"></option>
                            <option th:unless="${employee.scienceTitle == null || employee.scienceTitle == T(com.ihsm.esdp.users.information.ScienceTitle).NOT_SPECIFIED}" th:each="title: ${T(com.ihsm.esdp.users.information.ScienceTitle).values}" th:text="${title.name}" th:value="${title}" th:selected="${title == employee.scienceTitle}"></option>
                        </select>
                    </div>
                    <div class="block">
                        <div class="block-title text-line">
                            <p class="block-p-title" th:text="'Паспортные данные'"></p>
                            <input th:field="*{passportData.id}" hidden>
                        </div>
                        <div class="block-body text-line">
                            <div>
                                <div class="passport-data">
                                    <div class="data-block">
                                        <h5 class="passport-data-title">Серия и номер паспорта</h5>
                                        <input class="mt-2 series-input" type="text" th:field="*{passportData.series}" placeholder="Серия">
                                        <input class="mt-2 pass-num-input" type="text" th:field="*{passportData.documentNumber}" placeholder="Номер паспорта">
                                    </div>
                                    <div class="data-block">
                                        <h5 class="passport-data-title">Срок действия</h5>
                                        <input class="date-input mt-2 w-62" type="date" th:field="*{passportData.dateOfExpiry}">
                                    </div>
                                </div>
                                <div class="passport-data">
                                    <div class="data-block">
                                        <h5 class="passport-data-title">Орган выдачи</h5>
                                        <input class="mt-2 w-62" type="text" th:field="*{passportData.authority}" placeholder="Орган выдачи">
                                    </div>
                                    <div class="data-block">
                                        <h5 class="passport-data-title">Дата выдачи</h5>
                                        <input class="mt-2 date-input w-62" type="date" th:field="*{passportData.dateOfIssue}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-line">
                        Воинское звание:
                        <input type="text" th:field="*{militaryRank}" placeholder="Воинское звание">
                    </div>
                    <div class="block">
                        <div class="block-title text-line">
                            <p th:if="${employee.startWork != null}" class="block-p-title" th:text="'Стаж работы в МВШМ: ' + ${#dates.year(#dates.createNow()) - employee.startWork.year}"></p>
                            <p th:unless="${employee.startWork != null}" class="block-p-title" th:text="'Стаж работы в МВШМ: Отсутствует'"></p>
                        </div>
                        <div class="block-body">
                            <div class="my-2 d-flex employment-block justify-content-between" th:if="${!employee.employments.isEmpty()}" th:each="employment, stat : ${employee.employments}">
                                <input hidden type="text" th:name="'employments[' + ${stat.index} + '].toDelete'" value="false">
                                <input hidden type="text" th:name="'employments[' + ${stat.index} + '].id'" th:value="${employment.id}">
                                <div class="px-2 block-medium-text">
                                    <span class="fw-400" th:text="${employment.transferDateIn ?: ' '}"></span> -
                                    <span class="fw-400" th:text="${employment.transferDateOut ?: 'настоящий момент'}"></span> :
                                    <span th:if="${employment.employeePosition != null}" th:text="${employment.employeePosition?.name ?: ' '}"></span>
                                    <span th:unless="${employment.employeePosition != null}" th:text="'не указана'"></span>
                                    <span th:if="${employment.department != null}" th:text="' | Отдел: ' +  ${#strings.toLowerCase(employment.department.name) ?: ' '}"></span>
                                    <span th:unless="${employment.department != null}" th:text="' | Отдел: не указан'"></span>
                                </div>
                                <div class="text-align-right" th:if="${(employee.employments.size - 1) == employee.employments.indexOf(employment)}">
                                    <button class="btn btn-outline-danger button-delete-employment" type="button">Удалить</button>
                                </div>
                            </div>
                            <div class="py-1 text-line" th:unless="${!employee.employments.isEmpty()}" th:text="'Не указано'"></div>
                        </div>
                    </div>
                    <div class="block block-family">
                        <div class="block-title text-line">
                            <p class="block-p-title" th:text="'Семья'"></p>
                        </div>
                        <div class="block-body">
                            <div class="text-line marital-status-block">
                                Семейное положение:
                                <select class="py-1 w-25" th:field="*{maritalStatus}">
                                    <option th:each="status: ${T(com.ihsm.esdp.users.information.MaritalStatus).values}" th:text="${status.name}" th:value="${status}" th:selected="${status == employee.maritalStatus}"></option>
                                </select>
                            </div>
                            <div class="mt-3 family-member-block block-medium-text" th:if="${!employee.family.isEmpty()}" th:each="member, stat : ${employee.family}">
                                <div class="mb-2 mt-2">
                                    <input type="text" th:name="'family[' + ${stat.index} + '].toDelete'" value="false" hidden>
                                    <input type="text" th:name="'family[' + ${stat.index} + '].new'" value="false" hidden>
                                    <input type="text" th:name="'family[' + ${stat.index} + '].id'" th:value="${member.id}" hidden>
                                    <input class="input-name" type="text" th:name="'family[' + ${stat.index} + '].relation'" th:value="${member.relation ?: ''}" placeholder="Член семьи">:
                                    <input class="input-name" type="text" th:name="'family[' + ${stat.index} + '].surname'" th:value="${member.surname ?: ''}" placeholder="Фамилия">
                                    <input class="input-name" type="text" th:name="'family[' + ${stat.index} + '].name'" th:value="${member.name ?: ''}" placeholder="Имя">
                                    <input class="input-name" type="text" th:name="'family[' + ${stat.index} + '].patronymic'" th:value="${member.patronymic ?: ''}" placeholder="Отчество">
                                </div>
                                <div class="mb-2 justify-content-between d-flex block-w-delete">
                                    <div>
                                        Дата рождения:
                                        <input class="date-input" type="date" th:name="'family[' + ${stat.index} + '].birthDate'" th:value="${member.birthDate ?: null}">
                                    </div>
                                    <div>
                                        <button class="btn btn-outline-danger button-delete-input mx-2" type="button">Удалить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-line" id="family-member-block-empty" th:unless="${!employee.family.isEmpty()}">
                                <p>Данные отсутствуют</p>
                            </div>
                            <div class="add-family-div-form" id="add-family-div-form">
                                <button class="btn btn-outline-primary button-add-new-form" id="create-new-family-form" type="button">Добавить</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-line">
                        Дата рождения:
                        <input type="date" th:field="*{birthDate}" class="date-input mb-2">
                    </div>
                    <div class="text-line">
                        Дата приема:
                        <input type="date" th:field="*{startWork}" class="date-input mb-2">
                    </div>
                    <div class="text-line">
                        Дата увольнения:
                        <input type="date" th:field="*{dismissalDate}" class="date-input mb-2">
                    </div>
                    <div class="block">
                        <div class="block-title text-line">
                            <p class="block-p-title" th:text="'Награды'"></p>
                        </div>
                        <div class="block-body w-100 mt-2">
                            <div th:if="${!employee.awards.isEmpty()}" th:each="award, stat : ${employee.awards}" th:id="'awards' + ${stat.index}" class="mb-2 w-100 award-form">
                                <input type="text" th:name="'awards[' + ${stat.index} + '].toDelete'" value="false" hidden>
                                <input type="text" th:name="'awards[' + ${stat.index} + '].new'" value="false" hidden>
                                <input type="text" th:name="'awards[' + ${stat.index} + '].id'" th:value="${award.id}" hidden>
                                <div class="inline-block mt-2">
                                    <select class="date-award-select" th:name="'awards[' + ${stat.index} + '].date'">
                                        <option value="" selected>Дата получения</option>
                                        <option th:each="year: ${#numbers.sequence(1950, #dates.year(#dates.createNow()))}" th:text="${year}"
                                                th:value="${year}" th:selected="${year == #dates.year(#dates.createNow())}"></option>
                                    </select>
                                </div> :
                                <input class="mx-2 w-60" placeholder="Наименование награды" th:name="'awards[' + ${stat.index} + '].name'" th:value="${award.name ?: ''}">
                                <button class="button-delete-input btn btn-outline-danger" type="button">Удалить</button>
                            </div>
                            <div th:unless="${!employee.awards.isEmpty()}" class="d-inline-block mb-2 w-100" id="award-form-empty">
                                <p class="text-line text-default">Награды отсутствуют</p>
                            </div>
                            <div class="add-award-div-form" id="add-award-div-form">
                                <button class="btn btn-outline-primary button-add-new-form mb-2" id="create-new-award-form" type="button">Добавить</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-line">
                        Адрес кафедры:
                        <input class="input-name" type="text" th:field="*{address}" placeholder="Адрес кафедры">
                    </div>
                    <div class="text-line">
                        № кабинета:
                        <input class="input-name" type="text" th:field="*{roomNumber}" placeholder="Номер кабинета">
                    </div>
                <input hidden type="text" th:field="*{phoneNumber}">
                <div class="button-update-div">
                    <button class="btn btn-success button-update" th:text="'Сохранить'" type="submit"></button>
                </div>
            </form>
        </div>
        <button class="btn btn-light button-actions" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Действия</button>

        <div class="offcanvas offcanvas-end actions-canvas" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Действия</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="actions">
                    <div class="action-link">
                        <a th:href="@{/sign-up}" th:text="'Прием на работу'"></a>
                    </div>
                    <div th:if="${default_message == null}" class="not-muted-links">
                        <div class="action-link">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalDismiss">Увольнение</a>

                            <div class="modal fade" id="modalDismiss" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Увольнение</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Вы уверены, что хотите уволить сотрудника?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                            <form th:action="@{/employees/management/dismiss}" method="post">
                                                <input hidden type="text" name="id" th:value="${employee.id}">
                                                <button class="btn btn-primary" type="submit">Да</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/employees/actions/change}" th:object="${actionsDtos}" method="post">
                            <input hidden th:field="*{employeeId}">
                            <div class="block my-2">
                                <div class="block-title text-line">
                                    <p class="block-p-title" th:text="'Перевод'"></p>
                                </div>
                                <div class="block-body">
                                    <div class="mt-2 w-100 block-medium-text">
                                        <p class="pb-1 mt-2 border-bottom trans-history-title">История переводов</p>
                                        <div class="mt-2 w-100 border-bottom action-info-block" th:if="${!employee.transactions.isEmpty()}" th:each="transac, stat : *{transactions}">
                                            <input type="text" th:name="'transactions[' + ${stat.index} + '].toDelete'" value="false" hidden>
                                            <input type="text" th:name="'transactions[' + ${stat.index} + '].id'" th:value="${transac.id}" hidden>
                                            <div class="d-flex w-100">
                                                <p class="w-50 mb-2" th:text="'Приказ №' + ${transac.orderNumber ?: ' '}"></p>
                                                <p class="w-50 mb-2" th:text="'Дата: ' + ${transac.dateOfTransaction ?: ' '}"></p>
                                            </div>
                                            <div class="mb-2" th:text="'Перевод на должность : ' + ${transac.employeePosition?.name ?: 'не указана'}"></div>
                                            <div th:text="'В отдел : ' + ${transac.department.name ?: 'не указан'}"></div>
                                            <div class="text-align-right mb-2 mr-10">
                                                <button class="btn btn-outline-danger button-delete-action" type="button">Удалить</button>
                                            </div>
                                        </div>
                                        <div class="mt-2 mx-2" th:unless="${!employee.transactions.isEmpty()}">
                                            <p th:text="'Переводы отсутствуют'"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="block-title text-line">
                                    <p class="block-p-title" th:text="'Временная нетрудоспособность'"></p>
                                </div>
                                <div class="block-body">
                                    <p class="pb-1 mt-2 border-bottom trans-history-title">Отпуска, больничные</p>
                                    <div class="mt-2 w-100 border-bottom block-medium-text action-info-block" th:if="${!employee.vacationOrders.isEmpty()}" th:each="vac, stat : *{vacationOrders}">
                                        <input type="text" th:name="'vacationOrders[' + ${stat.index} + '].toDelete'" value="false" hidden>
                                        <input type="text" th:name="'vacationOrders[' + ${stat.index} + '].id'" th:value="${vac.id}" hidden>
                                        <div class="d-flex w-100">
                                            <p class="w-35 mb-2" th:text="'Приказ №' + ${vac.orderNumber ?: ' '}"></p>
                                            <p class="w-50 mb-2" th:text="'Вид отпуска: ' + ${vac.vacationType?.name ?: 'не указан'}"></p>
                                        </div>
                                        <div th:text="'Сроки : ' + ${vac.startVacation ?: 'не указан'} + ' -- ' + ${vac.endVacation ?: 'не указан'}"></div>
                                        <div class="text-align-right mb-2 mr-10">
                                            <button class="btn btn-outline-danger button-delete-action" type="button">Удалить</button>
                                        </div>
                                    </div>
                                    <div class="mt-2 mx-2" th:unless="${!employee.vacationOrders.isEmpty()}">
                                        <p class="block-medium-text mb-2 fw-normal" th:text="'Отпуска (больничные) не выдавались'"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="block mt-2">
                                <div class="block-title text-line">
                                    <p class="block-p-title" th:text="'Командировка'"></p>
                                </div>
                                <div class="block-body">
                                    <div class="mt-2 block-medium-text">
                                        <p class="pb-1 mt-2 border-bottom trans-history-title">Командировки</p>
                                        <div class="mt-2 w-100 border-bottom block-medium-text action-info-block" th:if="${!employee.businessTrips.isEmpty()}" th:each="trip, stat : *{businessTrips}">
                                            <input type="text" th:name="'businessTrips[' + ${stat.index} + '].toDelete'" value="false" hidden>
                                            <input type="text" th:name="'businessTrips[' + ${stat.index} + '].id'" th:value="${trip.id}" hidden>
                                            <div class="w-100">
                                                <p class="w-35 mb-2" th:text="'Приказ №' + ${trip.orderNumber ?: ' '}"></p>
                                            </div>
                                            <div class="mb-2" th:text="'Сроки : ' + ${trip.dateOfBeginning ?: 'не указан'} + ' -- ' + ${trip.dateOfEnding ?: 'не указан'}"></div>
                                            <div class="d-flex w-100">
                                                <p>Цель:</p>
                                                <p class="ml-10 mb-1" th:text="${trip.purposeOfTheTrip}"></p>
                                            </div>
                                            <div class="text-align-right mb-2 mr-10">
                                                <button class="btn btn-outline-danger button-delete-action" type="button">Удалить</button>
                                            </div>
                                        </div>
                                        <div class="mt-2 mx-2" th:unless="${!employee.businessTrips.isEmpty()}">
                                            <p class="block-medium-text mb-2 fw-normal" th:text="'Командировки не проводились'"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block mt-2">
                                <div class="block-title text-line">
                                    <p class="block-p-title" th:text="'Прогул, неявка'"></p>
                                </div>
                                <div class="block-body">
                                    <div class="mt-2 block-medium-text">
                                        <p class="pb-1 mt-2 border-bottom trans-history-title">Прогулы, неявки</p>
                                        <div class="ml-10 border-bottom action-info-block" th:if="${!employee.truancyList.isEmpty()}" th:each="truan, stat : *{truancyList}">
                                            <input type="text" th:name="'truancyList[' + ${stat.index} + '].toDelete'" value="false" hidden>
                                            <input type="text" th:name="'truancyList[' + ${stat.index} + '].id'" th:value="${truan.id}" hidden>
                                            <div class="mb-2" th:text="'Дата : ' + ${truan.date ?: 'не указана'}"></div>
                                            <div class="d-flex w-100">
                                                <p>Причина:</p>
                                                <p class="ml-10 mb-1" th:text="${truan.reason}"></p>
                                            </div>
                                            <div class="text-align-right mb-2 mr-10">
                                                <button class="btn btn-outline-danger button-delete-action" type="button">Удалить</button>
                                            </div>
                                        </div>
                                        <div class="ml-10 pb-2 fw-400" th:unless="${!employee.truancyList.isEmpty()}" th:text="'Прогулы(неявки) отсутствуют'">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block mt-2">
                                <div class="block-title text-line">
                                    <p class="block-p-title" th:text="'График отпусков'"></p>
                                </div>
                                <div class="block-body">
                                    <div class="mt-2 block-medium-text">
                                        <p class="pb-1 mt-2 border-bottom trans-history-title">Возможные даты</p>
                                        <div class="border-bottom" th:if="${!employee.vacation.isEmpty()}">
                                            <div class="ml-10 d-flex w-100 justify-content-between action-info-block" th:each="vac, stat : *{vacations}">
                                                <input type="text" th:name="'vacations[' + ${stat.index} + '].toDelete'" value="false" hidden>
                                                <input type="text" th:name="'vacations[' + ${stat.index} + '].id'" th:value="${vac.id}" hidden>
                                                <p class="mb-2" th:text="'Отпуск ' + ${stat.index + 1} + ' : ' + ${vac.startVacation ?: 'не указана'} + ' -- ' + ${vac.endVacation ?: 'не указана'}"></p>
                                                <div class="text-align-right mb-2 mr-20">
                                                    <button class="btn btn-outline-danger button-delete-action" type="button">Удалить</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ml-10 pb-2" th:unless="${!employee.vacation.isEmpty()}" th:text="'Отпуска не указаны'">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-align-right mt-4">
                                <button class="btn btn-outline-success">Сохранить</button>
                            </div>
                        </form>
                    </div>
                    <div class="muted-links" th:unless="${default_message} == null">
                        <div class="action-link text-muted">
                            <p class="mb-0" th:text="'Увольнение'"></p>
                        </div>
                        <div class="action-link text-muted">
                            <p class="mb-0" th:text="'Перевод'"></p>
                        </div>
                        <div class="action-link text-muted">
                            <p class="mb-0" th:text="'Временная нетрудоспособность'"></p>
                        </div>
                        <div class="action-link text-muted">
                            <p class="mb-0" th:text="'Командировка'"></p>
                        </div>
                        <div class="action-link text-muted">
                            <p class="mb-0" th:text="'Прогул, неявка'"></p>
                        </div>
                        <div class="action-link text-muted">
                            <p class="mb-0" th:text="'График отпусков'"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

    </div>
    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">
            <script th:src="@{/js/spoiler_empl_info.js}"></script>
            <script th:src="@{/js/add_new_forms.js}"></script>
            <script th:src="@{/js/news.js}"></script>
        </div>
    </div>

</body>
</html>