<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link href="#">
</head>
<body>
<nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
<aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

<div class="main" style="margin-top: 40px">
    <section class="content">
        <h3 style="text-align: center;">Заблокированные пользователи</h3>
        <br/>
        <div style="text-align:center">
            <table class="table" style="margin-top: 3rem">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="users : ${user}">
                    <th th:text="${users.name}"></th>
                    <th th:text="${users.surname}"></th>
                    <th th:text="${users.email}"></th>
                    <th>
                        <form th:action="'/forum/unblock/user/' + ${users.id}" method="post">
                            <button name="button" type="submit" style="width:auto" class="btn btn-primary" sec:authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_ADMIN_HR','ROLE_SUPER_ADMIN')" >Разблокировать</button>
                        </form>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section th:replace="fragments/header-and-sidebar :: right-side"></section>
</div>
<div>
    <div th:replace="fragments/header-and-sidebar :: scripts"></div>
    <div id="specific_scripts">
        <!--Сюда вставлять скрипты, которые нужны только для текущей страницы-->
    </div>
</div>

</body>
</html>