<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link href="#">
</head>
<body>
<nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
<aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

<div class="main" style="margin-top: 40px">
    <section class="content">
        <div class="form-group mt-3">
            <h2 style="text-align: center;margin-bottom: 10px;margin-top: 10px">Форум</h2>
            <a sec:authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_ADMIN_HR','ROLE_SUPER_ADMIN')" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="position: relative;left: 50%;transform: translate(-50%, 0);">Создать тему для обсуждения</a>
            <div class="collapse rom" id="collapseExample">
                <div class="form-group mt-3">
                    <form th:action="'/add'" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input maxlength="1000" id="txt" type="text" class="form-control" name="name" placeholder="Введите название" required/>
                        </div>
                        <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
                            <button sec:authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_ADMIN_HR','ROLE_SUPER_ADMIN')" type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="text-align:center">
            <table class="table" style="margin-top: 3rem">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Тема для обсуждения</th>
                    <th scope="col">Время создания</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="cursor-pointer" th:each="topic : ${topics}" data-href th:onclick="'window.location.href=\'/forum/questionnaire/' + ${topic.id} + '\''">
                    <th th:text="${topic.name}"></th>
                    <th th:text="${#temporals.format(topic.localDateTime, 'dd-MM-yyyy HH:mm')}"></th>
                    <th>
                        <form th:action="'/delete/' + ${topic.id}" method="post">
                            <button sec:authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_ADMIN_HR','ROLE_SUPER_ADMIN')"  type="submit" class="btn btn-primary">Удалить</button>
                        </form>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <a style="text-align: center;" th:href="@{/blockUsers}" sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')">Заблокированные пользователи</a>
    </section>
    <section th:replace="fragments/header-and-sidebar :: right-side"></section>
</div>
<div>
    <div th:replace="fragments/header-and-sidebar :: scripts"></div>
    <div id="specific_scripts">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </div>
</div>
<style>
    .form-group{
        padding-left: 10px;
        padding-right: 10px;
    }
    /*a:link{*/
    /*    color: white;*/
    /*}*/
    .cursor-pointer{
        cursor: pointer;
    }
</style>
<script>
    function maxLength(el) {
        if (!('maxLength' in el)) {
            let max = el.attributes.maxLength.value;
            el.onkeypress = function () {
                if (this.value.length >= max) return false;
            };
        }
    }
    maxLength(document.getElementById("txt"));
</script>
</body>
</html>