<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link href="#">
</head>
<body>
<nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
<aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

<div class="main" style="margin-top: 40px">
    <section class="content">
        <div class="card mb-3" style="background-color: #E0E0E0;">
            <div class="col-md-16">
                <div class="card-body">
                    <div style="display: inline-flex">
                        <h6 class="card-title" th:text="${topic.user.surname}"></h6>
                        <h6 class="card-title" th:text="${topic.user.name}" style="margin-left: 4px;"></h6>
                    </div>
                    <h5 class="card-text topicName" th:text="${topic.name}" ></h5>
                    <a class="btn btn-primary butt" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="position: relative;left: 95%;transform: translate(-50%, 0);">Ответить</a>
                </div>
            </div>
        </div>
        <div class="form-group mt-3">
            <div class="collapse rom" id="collapseExample">
                <div class="form-group mt-3">
                    <form  th:action="'/forum/add/' + ${topic.id}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input maxlength="1000" id="txt" type="text" class="form-control" name="idea" placeholder="Добавить ответ" required/>
                        </div>
                        <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
                            <button type="submit"  class="img-fluid rounded-start">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card mb-3" th:each="messages : ${message}">
            <div class="row g-0">
                    <img th:src="@{'/img/users/' +  ${messages.user.employee?.imagePath ?: 'default.jpeg'}}" class="img-fluid rounded-start" alt="..." style="width: 130px;height: 130px;display: block; margin-left: 20px; margin-top: 30px;">
                <div class="col-md-8" style="margin-left: 20px;">
                    <div class="card-body">
                            <div style="display: inline-flex">
                                <h6 class="card-title" th:text="${messages.user.surname}"></h6>
                                <h6 class="card-title" th:text="${messages.user.name}" style="margin-left: 4px;"></h6>
                            </div>
                            <p class="card-text" th:text="${messages.idea}"></p>
                            <p class="card-text"><small class="text-muted" th:text="${#temporals.format(messages.localDateTime, 'dd-MM-yyyy HH:mm')}"></small></p>
                        <div style="display: inline-flex">
                            <form th:action="'/forum/delete/' + ${messages.id}" method="post">
                                <input type="text" name="topicId" th:value="${topic.id}" hidden>
                                <button sec:authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_ADMIN_HR','ROLE_SUPER_ADMIN')" type="submit" class="btn btn-primary">Удалить</button>
                                <br/>
                            </form>
                            <form th:if="${#authentication.name} != ${messages.user.email}" th:unless="${messages.user.userRole} == ${(T(com.ihsm.esdp.users.UserRole).ROLE_SUPER_ADMIN)}" th:action="'/forum/block/user/' + ${messages.user.id}" method="post" style="margin-left: 20px;">
                                <button name="button" type="submit" style="width:auto" class="btn btn-primary" sec:authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_ADMIN_HR','ROLE_SUPER_ADMIN')">Заблокировать</button>
                            </form>
                        </div>
                    </div><br/>
                </div>
            </div>
        </div>
    </section>
    <section th:replace="fragments/header-and-sidebar :: right-side"></section>
</div>
<div>
    <div th:replace="fragments/header-and-sidebar :: scripts"></div>
    <div id="specific_scripts">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </div>
</div>
<style>
    .topicName{
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    hr {
        border: none; /* Убираем границу */
        background-color: black; /* Цвет линии */
        color: black; /* Цвет линии для IE6-7 */
        height: 2px; /* Толщина линии */
    }
    .form-group{
        padding-left: 10px;
        padding-right: 10px;
    }
    a:link{
        color: white;
    }
</style>
<script>
    function maxLength(el) {
        if (!('maxLength' in el)) {
            let max = el.attributes.maxLength.value;
            el.onkeypress = function () {
                if (this.value.length >= max) return false;
            };
        }
    }
    maxLength(document.getElementById("txt"));
</script>
</body>
</html>