<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="baseHeader(links)">
    <title>IHSM</title>

    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/v5.11.1/css/free.min.css" media="all">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main-nav.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap_min.css}">
    <link rel="shortcut icon" href="/favicon.ico">
    <th:block th:replace="${links}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<header>
    <div class="container-scale">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="padding: 30px; background-color: #AC2D2E" th:fragment="navbar">
            <div class="container-fluid">
                <div class="logo-div">
                    <a class="navbar-brand logo-link" href="/" id="logo">
                        <div class="logo-text">МЕЖДУНАРОДНАЯ ВЫСШАЯ ШКОЛА МЕДИЦИНЫ
                        </div>
                        <img th:src="@{/img/main-logo.svg}" class="logo">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav w-100 me-auto mb-lg-0 navbar-ul">
                        <li class="nav-item search-form">
                            <form th:action="'/search'" class="d-flex">
                                <input class="form-control me-2" type="text" name="name" placeholder="Поиск" aria-label="Search">
                                <button class="btn btn-outline-light" type="submit">Поиск</button>
                            </form>
                        </li>
                        <li class="nav-item d-flex align-items-center justify-content-end nav-div-auth me-4 ms-4">
                            <div class="nav-auth" id="nav-auth">

                            </div>
                            <a class="nav-link active logout-link" aria-current="page" href="/logout">Выйти
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="container-scale"></div>
<aside class="sidebar sidebar-margin-padding" th:fragment="sidebar">
    <div>
        <h3 class="title-section">Разделы</h3>
    </div>
    <div class="spoiler-title"><p></p></div>
    <nav class="spoiler-body">
        <ul>
            <li style="padding: 0">
                <div class="accordion" id="accordionDeps">
                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="headDeps">
                            <button class="accordion-button collapsed button-acc" id="button-deps" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDeps" aria-expanded="false" aria-controls="collapseDeps">
                                Все подразделения
                            </button>
                        </h2>
                        <div id="collapseDeps" class="accordion-collapse collapse" aria-labelledby="headDeps" data-bs-parent="#accordionDeps">
                            <div class="accordion-body acc-body-styles" id="departments" style="border-right: 1px #ccc solid;">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="padding: 0">
                <div class="accordion" id="accordionDocs">
                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="headDocs">
                            <button class="accordion-button collapsed button-acc" id="button-docs" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDocs" aria-expanded="false" aria-controls="collapseDocs">
                                Документы
                            </button>
                        </h2>
                        <div id="collapseDocs" class="accordion-collapse collapse" aria-labelledby="headDocs" data-bs-parent="#accordionDocs">
                            <div class="accordion-body acc-body-styles" id="documents" style="border-right: 1px #ccc solid;">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a th:href="@{/contacts}"><span>Справочник по сотрудникам</span></a></li>
            <li><a th:href="@{/news/our-life}"><span>Наша жизнь</span></a></li>
            <li><a th:href="@{/gallery/display-all}"><span>Фото галерея</span></a></li>
            <li style="padding: 0">
                <div class="accordion" id="accordionForum">
                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="headForum">
                            <button class="accordion-button collapsed button-acc" id="button-Forum" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForum" aria-expanded="false" aria-controls="collapseForum">
                                Обсуждения
                            </button>
                        </h2>
                        <div id="collapseForum" class="accordion-collapse collapse" aria-labelledby="headForum" data-bs-parent="#accordionForum">
                            <div class="accordion-body acc-body-styles" id="discussion" style="border-right: 1px #ccc solid;">
                                <div><a th:href="@{/ideas/idea}" class="accordion-links text-dark">Банк идей</a></div>
                                <div><a th:href="@{/forum}" class="accordion-links text-dark">Форум</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a th:href="@{/birthday}"><span>Наши именинники</span></a></li>
            <li><a href="/guide"><span>Справочник по действиям</span></a></li>
        </ul>
    </nav>
</aside>
<div class="main"></div>
<section class="OUP" th:fragment="right-side">
    <div class="text-center right-side-links">
        <a th:href="@{/employees/management}"><h3>ОУП</h3></a>
    </div>
    <div class="weather_toDay">
        <div id="weather">
            <div id="description"></div>
            <h1 id="temp"></h1>
            <div id="location"></div>
        </div>
    </div>
    <div class="text-center right-side-links contact-us">
        <a th:href="@{/contactUs}">Обратная связь</a>
    </div>
</section>

<div th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script href="https://kit.fontawesome.com/d17d5b89bc.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap_js_min.js}"></script>
    <script th:src="@{/js/sidebar.js}"></script>
    <script th:src="@{/js/docs.js}"></script>
    <script th:src="@{/js/weather.js}"></script>
    <script th:src="@{/js/getAuthUser.js}"></script>
    <script type="text/javascript" th:src="@{/js/spoiler_script.js}"></script>
</div>
</body>
</html>

