.field-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px #ccc solid;
}

.field{
    width: 40%;
}

.form-label{
    width: 30%;
}

.text-to-right{
    text-align: right;
}

.border-bottom-grey{
    border-bottom: 2px #ccc solid!important;
}

.idea-p-margin{
    margin-bottom: 8px;
}

.text-center{
    text-align: center;
}