.group-docs-list{
    margin: 50px 20px 80px;
    letter-spacing: 1px;
}

.list-block{
    margin-top: 25px;
    margin-bottom: 30px;
    padding-bottom: 12px;
    border-bottom: 1px grey solid;
}

.docs-list-title{
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.docs-list-body{
    font-weight: lighter;
    display: none;
    padding: 20px 5px;
}

.docs-list-body a{
    margin-left: 10px;
}

.docs-list-body div{
    margin: 10px 0;
}

.docs-list-title:before,
.docs-list-title:after{
    content: '';
    width: 14px;
    height: 2px;
    background-color: #2F3950;
    position: absolute;
    top: 10px;

}

.docs-list-title:before{
    transition: all 0.3s ease 0s;
    transform: rotate(45deg);
    right: 9px;
}

.docs-list-title:after{
    transition: all 0.3s ease 0s;
    transform: rotate(-45deg);
    right: 0;
}

.docs-list-title.active:before,
.docs-list-title.active:after{
    width: 12px;
    background-color: #AC2D2E;
}

.docs-list-title.active:before{
    transition: all 0.3s ease 0s;
    transform: rotate(0);
}

.docs-list-title.active:after{
    transition: all 0.3s ease 0s;
    transform: rotate(0);
}

@media (max-width: 575px) {
    .group-docs-list{
        margin-top: 20px;
    }
}

.button-delete-doc{
    margin-left: 10px;
    padding: 3px 8px;
}

.modal-window-body{
    margin-top: 20px;
}

.close-button{
    display: block;
    position: absolute;
    right: 8px;
    top: 7px;
}

.modal-window-text{
    font-size: 18px;
}

.modal-button{
    margin-right: 10px;
}

.text-to-right{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.docs-list-body div a:hover{
    color: #AC2D2E!important;
    transition: 0.3s all ease 0s;
}

.group-docs-list .list-block a:hover{
    color: #AC2D2E!important;
    transition: 0.3s all ease 0s;
}

.fw-400{
    font-weight: 300;
}
