.content{
    padding-left: 20px;
}

.contacts-link{
    height: 100px;
    text-decoration: none!important;
    display: flex!important;
    align-items: center;
}

.text-black{
    color: #000000!important;
}

.main .content div div .contacts-link div:hover{
    color: #AC2D2E!important;
    transition: 0.3s all ease 0s;
}

.link-img {
    height: 100%;
}

.text-line{
    font-size: 18px;
    margin: 10px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

.block-medium-text{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
}

.w-35{
    width: 35%!important;
}

.link-hover{
    text-decoration: none;
}

.link-hover:hover{
    color: #AC2D2E!important;
    transition: 0.3s all ease 0s;
}