/*@import url(http://weloveiconfonts.com/api/?family=fontawesome);*/

*,*:after, *:before{
    box-sizing: border-box;
    -moz-box-sizing:border-box ;
    -webkit-box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;

}
.body{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.main::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.news::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.content::-webkit-scrollbar{
   display: none;
}

[class*="fontawesome-"]:before {
    font-family: "fontawesome", sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.display-block{
    display: block!important;
}

.logo{
    position: absolute;
    width: 195px;
    top: 10%;
    right: -4%;
}

.logo-text{
    margin-top: 13px;
    position: absolute;
    padding: 4px 0 4px 6px;
    max-width: 118px;
    border-left: 1px #000000 solid;
    font-size: 11px;
    margin-left: 66px;
    color: #000;
    z-index: 10;
    height: 55px;
    white-space: normal;
    font-family: "Noto Serif", sans-serif;
    font-weight: bold;
}

.search-form{
    margin-left: 60px;
    width: 50%;
}

.ml-10{
    margin-left: 10px;
}

.nav-div-auth{
    width: 60%;
}

.nav-auth{
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 1px;
    word-break: break-all;
}

.logout-link{
    padding: 0!important;
    margin-left: 28px;
    margin-right: 20px;
}

.logout-link:hover{
    color: #cccccc!important;
    text-decoration: underline;
    transition: 0.3s all ease 0s;
}

.logo-div{
    position: relative;
    width: 181px;
}

.logo-link{
    width: 181px;
    top: -41px;
    position: absolute;
}

.sidebar, .main {
    transition: all 0.3s ease-out;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 68px;
    bottom: 0;
}

.sidebar {
    background-color: #2F3950;
    left: 0;
    -ms-overflow-style: none;  /* IE and Edge */
}

.main {
    /*background-color: #2F3950;*/
    display: flex;
    position: absolute;
    max-width: 100%;
    left: 260px;
    right: 0;
}

.main section.OUP div a:hover{
    color: #AC2D2E!important;
    transition: 0.3s all ease 0s;
}

.content {
    /*background-color: #2F3950;*/
    transition: all 0.3s ease-out;
    overflow: scroll;
    position: relative;
    max-width: 70%;
    width: 100%;
    left: 0;
    right: 0;
    padding-right: 20px;
    padding-top:0;
}

.OUP {
    border-left: solid black 1px;
    width: 27%;
    top: 0;
    right: 0;
    padding: 0 20px;
    bottom: 0;
    position: absolute;
    max-width: 83%;
    display: flex;
    flex-direction: column;
}

.sidebar{
    width: 260px;
    transition: all 0.3s ease-out;
    overflow: scroll;
    position: absolute;
    top: 0!important;
    bottom: 0;
    scrollbar-width: none; /* Firefox */
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #2F3950;
}
.sidebar ul li {
    color: #ccc!important;
    background-color: #2F3950;
    margin-bottom: 1px;
    border-left: 10px ;
}

.sidebar ul li a{
    width: 100%;
    padding: 18px 20px;
    color: #ccc;
    text-decoration: none;
}

.sidebar ul li.active {
    border-color: #e35205;
}

.sidebar li a:hover{
    background-color: #FFFFFF;
    transition: 0.3s all ease 0s;
}

.sidebar ul li a:hover{
    color: #000000!important;
    transition: 0.3s all ease 0s;
}

a:link, a:visited {
    color: #000000;
    text-decoration: none;
    display: inline-block;
}
.title-section{
    color: #FFFFFF;
    padding: 20px;
}

a:active {
    text-decoration: none;
}

.button-acc{
    background-color: #2F3950!important;
    color: #cccccc!important;
}

.acc-body-styles{
    padding: 0!important;
}

.accordion-links{
    color: #000000!important;
    padding: 10px 4px 10px 16px!important;
    letter-spacing: 1px;
}

.accordion-links:hover{
    background-color: #cccccc!important;
    transition: 0.3s all ease 0s;
}

.nav {
    background-color: #AC2D2E;
    padding: 33px;
}

.spoiler-title{
    display: none;
}

.sidebar-margin-padding{
    margin-top: 96px;
    padding: 10px 0 7px;
}

.right-side-links{
    color: #000000!important;
}

.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60%;
}

.weather_toDay {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #fff;
    text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
}
.weather.h1{
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 5em;
}

.weather.sunny {
    background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
}
.weather.cloudy {
    background-image: linear-gradient(to right top, #63747c, #71858e, #7f96a0, #8da8b2, #9bbac5);
}
.weather.rainy {
    background-image: linear-gradient(to right top, #637c7b, #718e8c, #7ea09e, #8db2b0, #9bc5c3);
}

@media only screen and (max-width: 1400px) {
    .future-forecast {
        justify-content: start;
        align-items: normal;
        overflow-x: scroll;
    }
}

@media (min-width: 992px) {
    .spoiler-body {
        display: block;
    }
}

@media (max-width: 991px) {
    .spoiler-body {
        display: block;
    }

    .OUP{
        background-color: #2F3950;
        display: flex;
        flex-direction: row;
        max-width: none;
        position: relative;
        width: 100%;
        border: none;
        padding: 0;
        height: 150px;
    }

    .main section.OUP div a:hover{
        color: #FFFFFF!important;
        transition: 0.3s all ease 0s;
    }

    .contact-us{
        justify-content: normal;
    }

    .right-side-links{
        padding-top: 20px;
        width: 35%;
    }

    .right-side-links a{
        color: #cccccc!important;
    }

    .main{
        display: block;
        max-width: none;
        padding-left: 0;
    }

    .content{
        max-width: none;
    }

    .weather_toDay{
        height: 100%;
        width: 35%;
    }

    .navbar-ul{
        margin-top: 60px;
    }

    .search-form{
        margin-left: 0;
        margin-bottom: 16px;
        width: 100%;
    }

    .nav-div-auth{
        width: 100%;
    }
}

@media (max-width: 767px){
    .spoiler-title {
        display: block;
        position: absolute;
        right: 54px;
        bottom: 28px;
        width: 25px;
        height: 15px;
        cursor: pointer;
    }

    .spoiler-body {
        display: none;
    }

    .spoiler-title:before,
    .spoiler-title:after {
        content: '';
        width: 15px;
        height: 1px;
        background-color: #cccccc;
        position: absolute;
        right: 0;
        top: 5px;
        transition: all 0.3s ease 0s;
    }

    .spoiler-title:before {
        transform: rotate(40deg);
        right: 11px;
    }

    .spoiler-title:after {
        transform: rotate(-40deg);
        right: 0;
    }

    .spoiler-title.activeToggle{
        bottom: 0;
        top: 32px;
    }


    .spoiler-title.activeToggle:before {
        transform: rotate(-40deg);
    }

    .spoiler-title.activeToggle:after {
        transform: rotate(40deg);
    }

    .sidebar{
        position: relative;
        width: 100%;
    }

    .main{
        position: initial;
    }

    .sidebar, .main{
        overflow: inherit;
    }

    .title-section{
        padding: 16px 20px 7px;
    }
}