body {
    font-family: "Cera Pro", sans-serif;
}

.post{
    padding-bottom: 30px;
    border-bottom: 2px solid #AC2D2E!important;
}

.button-div{
    text-align: right;
    margin-right: 10px;
}

.button-right{
    text-align: right;
}

.card-image{
    width: 100%;
    height: 80%;
}

.posts-title{
    font-size: 20px!important;
}

.image-huge{
    margin-top: 20px;
    width: 80%;
}

.date-size{
    font-size: 16px;
}

.title{
    font-size: 44px;
    margin-bottom: 16px;
}

.date-icon{
    font-size: 20px;
    margin-right: 12px;
}

.button-more{
    padding: 4px 8px;
    font-size: 16px;
}

.h-10 {
    height: 20px;
    width: 100%;
}

.button-margin{
    margin-left: 20px;
}

.empty-space-for-photo{
    border: 2px dashed grey;
    height: 500px;

}

.cam-on-center {
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-camera{
    font-size: 60px;
}

.height-auto{
    height: auto!important;
}

.w-70{
    width: 70%!important;
}

.post-text{
    font-size: 16px!important;
}

.text-date{
    font-size: 14px!important;
}

.margin-top-30{
    margin-top: 30px;
}

.text-to-right{
    text-align: right;
}

.button-delete-doc{
    margin-left: 10px;
    padding: 3px 8px;
}

.modal-window-body{
    margin-top: 20px;
}

.close-button{
    display: block;
    position: absolute;
    right: 8px;
    top: 7px;
}

.modal-window-text{
    font-size: 18px;
}

.modal-button{
    margin-right: 10px;
}

.link-to-all-news{
    font-size: 18px;
}

.main section.content section div.text-center a.link-to-all-news:hover{
    color: #AC2D2E!important;
    transition: 0.3s all ease 0s;
}
