.pagination {
    display: inline-block!important;
}

.pagination a {
    color: black;
    float: left;
    padding: 4px 12px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;
    background-color: #dc3545;
}

.pagination button {
    color: black;
    float: left;
    padding: 4px 13px;
    border-radius: 5px;
    border: none;
}

.pagination a.tenAndMore{
    padding: 4px 8px;
}

.pagination button.tenAndMore{
    padding: 4px 8px;
}

.pagination a.active {
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
}

.pagination button.active {
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {background-color: #ddd;}