.content{
    padding-right: 5px;
}

.text-align-right{
    text-align: right;
}

.employees-list{
    width: 100%;
    overflow: scroll;
    position: relative;
    max-width: 260px;
}

.employees-list::-webkit-scrollbar {
    display: none;
}

.employees-info{
    width: 95%;
    padding: 0 20px;
    border-left: 1px #ccc solid;
}

.height-75vh{
    height: 75vh;
}

.employee-link{
    height: 100%;
}

.main .content div.employees-list div div a:hover{
    color: #AC2D2E!important;
    transition: 0.3s all ease 0s;
}

.employees-list-line{
    padding-left: 10px;
}

.bg-light-gray{
    background-color: #e6e6e6;
}

.OUP{
    background-color: #2F3950;
    display: flex;
    max-width: none;
    position: relative;
    width: 100%;
    border: none;
    padding: 0;
    height: 150px;
    flex-direction: row;
}

.main section.OUP div a:hover{
    color: #FFFFFF!important;
    transition: 0.3s all ease 0s;
}

.weather_toDay{
    height: 100%;
    width: 25%;
}

.right-side-links{
    padding-top: 20px;
    width: 30%;
}

.right-side-links a{
    color: #cccccc!important;
}

.contact-us{
    justify-content: normal;
}

.main{
    display: block;
    max-width: none;
}

.content{
    max-width: none;
    display: flex;
}

.employee-img{
    width: 25%;
    height: auto;
}

.text-line{
    font-size: 18px;
    margin: 10px 0;
    letter-spacing: 1px;
    font-weight: 300;

}

.edu-info{
    font-size: 16px;
    margin-top: 10px;
}

.edu-info.text-line{
    margin-bottom: 0;
}

.edu-block{
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #ccc solid;
}

.education-form {
    border-bottom: 1px #cccccc solid;
}

.award-info{
    padding-left: 10px;

}

.block{
    border-bottom: 1px #ccc solid;
}

.block-family{
    margin-top: 15px;
}

.block-title{
    border-bottom: 1px #ccc solid;
}

.block-title.text-line{
    margin: 0;
    padding-bottom: 10px;
    cursor: pointer;
}

.block-body{
    display: none;
}

.block-p-title{
    margin: 0;
    padding-left: 30px;
}

.block-title:before,
.block-title:after{
    content: '';
    width: 13px;
    height: 1px;
    background-color: #2F3950;
    position: absolute;
    margin-top: 14px;
}

.block-title:before{
    transition: all 0.3s ease 0s;
    transform: rotate(45deg);
}

.block-title:after{
    transition: all 0.3s ease 0s;
    transform: rotate(-45deg);
    margin-left: 9px;
    margin-top: -13px;
;
}

.block-title.activeToggle:before,
.block-title.activeToggle:after{
    width: 11px;
    background-color: #AC2D2E;
}

.block-title.activeToggle:before{
    transition: all 0.3s ease 0s;
    transform: rotate(0);
}

.block-title.activeToggle:after{
    transition: all 0.3s ease 0s;
    transform: rotate(0);
}

.passport-data{
    margin-left: 10px;
    display: inline-block;
    width: 40%;
}

.passport-data-title{
    font-size: 12px;
    margin: 6px 0 0;
}
.passport-data-text{
    margin-left: 10px;
}

.data-block{
    margin-bottom: 14px;
}

.family-member-block{
    margin-bottom: 15px;
    padding-left: 10px;
}

.block-medium-text{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
}

.text-family-block{
    margin: 5px 0;
}

.marital-status-block{
    border-bottom: 1px #ccc solid;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.actions{
    position: relative;
    display: inline-block;
    width: 97%;
    margin-left: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
}

.actions-canvas{
    width: 40%;
}

.main .content div.offcanvas div.offcanvas-body div.actions div a:hover{
    color: #AC2D2E!important;
    transition: 0.3s all ease 0s;
}

.trans-date-input{
    margin-left: 10px;
}

.trans-title{
    margin: 0 0 5px;
    padding-left: 7px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 400;
}

.trans-history-title{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 8px;
}

.w-10{
    width: 10%;
}
.w-20{
    width: 20%;
}

.button-update-div{
    width: 100%;
    text-align: right;
    margin: 0 10px 20px 0;
}

.button-update{
    color: #FFFFFF!important;
}

.text-on-the-date{
    margin: 0 0 7px;
}

.w-8{
    width: 8%;
}

.w-15{
    width: 15%;
}

.w-35{
    width: 35%;
}
.w-40{
    width: 40%;
}

.inline-block{
    display: inline-block;
}

.button-add-new-form-div{
    margin-top: 10px;
    text-align: right;
    margin-right: 20px;
}

.button-add-new-form{
    padding: 5px;
}

.button-delete-edu-form{
    text-align: right;
    margin-bottom: 10px;
    margin-right: 20px;
}

.w-62{
    width: 62%;
}

.date-input{
    padding: 2px 0;
}

.pass-num-input{
    width: 40%;
}

.series-input{
    width: 20%;
}

.date-select{
    width: 46%;
    padding: 4px 2px;
}

.w-60{
    width: 60%;
}

.degrees-inputs{
    width: 75%;
}

.science-title-title{
    margin-right: 10px;
}

.add-input-degree-div{
    text-align: right;
}

.button-delete-input{
    margin-left: 10px;
    padding: 5px 2px;
}

.input-name{
    margin-bottom: 10px;
}

.add-family-div-form{
    text-align: right;
    margin-bottom: 10px;
}

.block-w-delete{
    border-bottom: 1px #cccccc solid;
    padding-bottom: 10px;
}

.date-award-select{
    padding: 4px 2px;
    margin-right: 10px;
}

.add-award-div-form{
    text-align: right;
    margin-top: 15px;
}

.action-link{
    margin-top: 5px;
}

.button-actions{
    background-color: #e6e6e6;
    color: #000000;
    border-color: #e6e6e6;
    margin-bottom: 20px;
}

.empl-not-found-text{
    margin: 20px 0 20px 20px;
    font-size: 20px;
    font-weight: 300;
}

.fw-400{
    font-weight: 400;
}

.mr-10{
    margin-right: 10px;
}

.mr-20{
    margin-right: 20px;
}

.ml-10{
    margin-left: 10px;
}

.reports{
    margin-top: 30px;
}

.button-delete-employment{
    margin-right: 10px;
}

.button-delete-action{
    padding: 2px;
}


@media (max-width: 1024px) {
    .employees-list{
        max-width: 200px;
    }

    .actions-canvas{
        width: 50%;
    }

    .weather_toDay{
        width: 30%;
    }
}

@media (max-width: 992px){
    .spoiler-title {
        display: block;
        position: absolute;
        right: 54px;
        bottom: 28px;
        width: 25px;
        height: 15px;
        cursor: pointer;
    }

    .spoiler-body {
        display: none;
    }

    .spoiler-title:before,
    .spoiler-title:after {
        content: '';
        width: 15px;
        height: 1px;
        background-color: #cccccc;
        position: absolute;
        right: 0;
        top: 5px;
        transition: all 0.3s ease 0s;
    }

    .spoiler-title:before {
        transform: rotate(40deg);
        right: 11px;
    }

    .spoiler-title:after {
        transform: rotate(-40deg);
        right: 0;
    }

    .spoiler-title.activeToggle{
        bottom: 0;
        top: 32px;
    }


    .spoiler-title.activeToggle:before {
        transform: rotate(-40deg);
    }

    .spoiler-title.activeToggle:after {
        transform: rotate(40deg);
    }

    .sidebar{
        position: relative;
        width: 100%;
    }

    .main{
        position: initial;
        margin-top: 20px!important;
    }

    .sidebar, .main{
        overflow: inherit;
    }

    .title-section{
        padding: 16px 20px 7px;
    }
}