@import url("https://fonts.googleapis.com/css?family=Poppins");

.photos{
    position: relative;
    font-family: "Poppins",sans-serif;
    width: 300px;
    height: auto;
    margin: 10px;
}
section.gallery{
    position: relative;
    padding: 45px 0;
    margin-left: 20px;
}

.form-margin-left{
    margin-left: 20px;
}

h2.tittle{
    margin-left: 20px;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 45px ;
    position: relative;
}
h2.tittle:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #111111;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.gallery-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 0;
    margin: 10px;
}
.gallery-item{
    width: 300px;
    height: auto;
    display: block;
    flex: 25%;
    overflow: hidden;
}
.gallery-item-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    opacity: 0;
}

.gallery-item:hover .gallery-item-hover{
    opacity: 1;
    transition: opacity .5s ease;
}
.gallery-item:hover img {
    transform: scale(1.3) rotate(5deg);
}

.gallery-item img{
    max-width: 100%;
    height: auto;
    transition: all .5s ease;
}

.action{
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .gallery-item{
        flex: 33.3%;
    }
}
@media (max-width: 768px) {
    .gallery-item{
        flex: 50%;
    }
}
@media (max-width: 530px) {
    .gallery-item{
        flex: 100%;
    }
}
.content::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

