body{
    height: 100%;
    background: url("http://192.168.8.51/static/img/sign-in.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-div{
    background-color: #FFFFFF;
}

.login-title{
    font-size: 22px;
}