<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/error-page.css}">
</head>
<body>
    <nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
    <aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

    <div class="main" style="margin-top: 40px">
    <section class="content">
        <div class="text-center mt-5 height-75vh">
            <p class="mb-5 fs-4">Извините, при загрузке страницы произошла ошибка</p>
            <a class="btn btn-success text-white" href="/">Вернуться на главную</a>
        </div>
    </section>


    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

    </div>
    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">

        </div>
    </div>

</body>
</html>