<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>IHSM</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap_min.css}">
    <link rel="stylesheet" th:href="@{/css/sign-in.css}">
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<div class="container-fluid text-center">

    <form th:action="@{/sign-in}" method="post" style="max-width: 350px; margin: 100px auto;">

        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>

        <div class="border border-secondary p-3 rounded login-div">
            <p class="login-title">Войти в систему</p>
            <p>
                <input type="email" name="username" id="username" class="form-control" placeholder="Эл. почта" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" id="password" class="form-control" placeholder="Пароль" required />
            </p>
            <p>
                <input type="submit" value="Войти" class="btn btn-primary" />
            </p>
        </div>
    </form>
</div>
</body>
</html>