    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>IHSM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<form th:action="@{/sign-up}" th:method="post" th:object="${user}">

    <section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Зарегистрировать нового сотрудника</h2>

                                <form role="form" th:action="@{/sign-up}" th:method="post" th:object="${user}">
                                    <div class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" id="name" name="name" th:field="*{name}">
                                        <label class="form-label" for="name">Имя</label>
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('name')}" th:text="${err}" class="alert alert-danger"/>
                                        </ul>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" id="surname" name="surname" th:field="*{surname}">
                                        <label class="form-label" for="surname">Фамилия</label>
                                        <ul>
                                            <li   th:each="err : ${#fields.errors('surname')}" th:text="${err}" class="alert alert-danger"/>
                                        </ul>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" id="email" name="email" th:field="*{email}">
                                        <label class="form-label" for="email">Электронная почта</label>
                                        <ul>
                                            <li  th:each="err : ${#fields.errors('email')}" th:text="${err}" class="alert alert-danger"/>
                                        </ul>
                                        <div th:if="${emailExist != null}" class="alert alert-danger" th:text="${emailExist}"></div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <select class="form-select" name="userRole">
                                            <option th:if="${role} != ${T(com.ihsm.esdp.users.UserRole).ROLE_SUPER_ADMIN}" th:each="role : ${T(com.ihsm.esdp.users.UserRole).values()}"
                                                    th:value="${role}" th:text="${role.name}"></option>
                                        </select>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success btn-block gradient-custom-4">Зарегистрировать</button>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
</body>
</html>
