<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/bank-idea.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/v5.11.1/css/free.min.css" media="all">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">


</head>
<body>
<nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
<aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

<div class="main" style="margin-top: 40px">
    <section class="content ps-3">
        <h2 class="text-center text-dark mb-0 text-uppercase mb-3">Банк идей</h2>
        <div class="card-header text-center">
            <h2>Заполните вашу идею</h2>
        </div>
        <div class="card-body">
            <form th:action="@{/ideas/newIdea}" method="post" class="reg-form" th:object="${idea}">
                <div class="header"></div>
                <div class="field-row">
                    <label class="form-label" for="firstName">Имя:</label>
                    <input type="text" name="name" id="firstName" class="field text-field first-name-field" required>
                </div>
                <div class="field-row">
                    <label class="form-label cf" for="lastName">Фамилия: </label>
                    <input type="text" name="surname" id="lastName" class="field text-field last-name-field" required>
                </div>
                <div class="field-row">
                    <label class="form-label" for="initials">Должность: </label>
                    <input name="position" type="text" id="initials" class="field text-field initials-field">
                </div>
                <div class="field-row">
                    <label class="form-label">Отдел: </label>
                    <select th:name="'department.name'" class="form-dropdown field" >
                        <option th:each="dep :${departments}"
                                th:value="${dep.name}" th:text="${dep.name}"></option>
                    </select>
                </div>
                <div class="field-row">
                    <label class="form-label" for="idea">Название идеи:</label>
                    <input name="ideaName" type="tel" id="idea" class="field text-field tel-field" required>
                </div>
                <div class="field-row">
                    <label class="form-label">Категория: </label>
                    <select th:field="*{categoryIdea}" class="form-dropdown field">
                        <option th:each="cat :${T(com.ihsm.esdp.ideas.enums.CategoryIdea).values}"
                                th:value="${cat}" th:text="${cat.name}"></option>
                    </select>
                </div>
                <div class="field-row">
                    <label class="form-label" for="disruption">Подробное описание Вашей идеи:</label>
                    <textarea name="text" id="disruption" class="field text-field disruption-field" rows="4"></textarea>
                </div>
                <div class="field-row">
                    <label class="form-label" for="res">Какие ресурсы и средства потребуются реализации идеи: </label>
                    <textarea name="resource" id="res" class="field text-field res-field" rows="4"></textarea>
                </div>
                <div class="field-row">
                    <label class="form-label" for="add">Что даст корпорации реализация этой идеи:</label>
                    <textarea name="realisation" id="add" class="field text-field add-field" rows="4"></textarea>
                </div>


                <div class="field-row mb-4 border-bottom-0">
                    <label class="form-label"></label>
                    <button type="submit" class="form-button btn btn-success">Отправить</button>
                </div>
            </form>
        </div>
        <h1 class="w-100 text-center">Идеи, предложенные сотрудниками</h1>
        <div class="list-block">
            <div id="accordion" class="mb-4">
                <div class="accordion-item border-0" th:each="ideaEACH : ${ideas}">
                    <div class="card border-0 border-bottom-grey">
                        <h5 class="accordion-header mb-0 border-0" id="heading">
                            <button class="accordion-button collapsed py-4" type="button" data-bs-toggle="collapse"
                                    th:data-bs-target="'#collapse'+${ideaEACH.id}"
                                    aria-expanded="false"
                                    th:aria-controls="'#collapse'+${ideaEACH.id}" th:text="${ideaEACH.ideaName}">
                            </button>
                        </h5>

                        <div th:id="'collapse'+${ideaEACH.id}" class="collapse" aria-labelledby="heading"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p class="idea-p-margin" th:text="'Автор: ' + ${ideaEACH.name} + ' ' + ${ideaEACH.surname}"></p>
                                <p class="idea-p-margin" th:text="'Должность: ' + ${ideaEACH.position}"></p>
                                <p th:text="'Подразделение: ' + ${ideaEACH.department ?: 'не указано'}"></p>
                                <hr class="my-2">
                                <h6>Категория:</h6>
                                <p class="" th:text="${ideaEACH.categoryIdea.name}"></p>
                                <hr class="my-2">
                                <h6>Главная суть идеи:</h6>
                                <p th:text="${ideaEACH.text}"></p>
                                <hr class="my-2">
                                <h6>Ресурсы и средства для её реализации:</h6>
                                <p th:text="${ideaEACH.resource}"></p>
                                <hr class="my-2">
                                <h6>Что даст корпорации её реализация:</h6>
                                <p th:text="${ideaEACH.realisation}"></p>
                                <hr>

                                <h4 style="margin: 20px 0">Комментарии:</h4>
                                <form sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')"
                                      th:action="@{../../answers/newAnswer}" method="post">
                                    <input name="idea_id" th:value="${ideaEACH.id}" hidden="hidden">
                                    <input name="user_id" th:value="${user_id}" hidden="hidden">
                                    <div class="field-row pt-1">
                                        <label class="form-label" for="disriptions">Подробное описание Вашего комментария</label>
                                        <textarea name="answer" id="disriptions"
                                                  maxlength="1000"
                                                  class="field text-field disription-field w-50"
                                                  rows="3"></textarea>
                                    </div>

                                    <div class="w-100 text-to-right my-3">
                                        <button type="submit" class="form-button btn btn-success">Отправить</button>
                                    </div>
                                </form>
                                <div th:each="answerr:${ideaEACH.answerIdeas}">
                                    <p th:text="${answerr.user.surname ?: ''} + ' ' +${answerr.user.name ?: ''} +' (' + ${answerr.user.employee?.department?.name ?: 'Отдел не указан'}+ '): '+${answerr.answer}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5 margin-top-30 text-center mx-auto">
            <div class="pagination">
                <a th:href="@{/ideas/idea(size=${pages.getPageSize()}, page=(${firstPageOfSequence - 10}))}" th:if="${firstPageOfSequence != 0}" th:text="'<'"></a>
                <button class="active" type="button" th:if="${firstPageOfSequence == 0}" th:text="'<'" disabled></button>
            </div>
            <div class="mx-auto pagination" th:each="i : ${#numbers.sequence(firstPageOfSequence + 1, totalPage, 1)}">
                <div th:if="${totalPage <= 10}">
                    <div th:if="${i == 10}">
                        <button type="button" th:text="${i}" th:if="${i}==${pages.getPageNumber() + 1}" class="active tenAndMore" disabled></button>
                        <a class="tenAndMore" th:text="${i}" th:if="${i}!=${pages.getPageNumber() + 1}" th:href="@{/ideas/idea(size=${pages.getPageSize()}, page=(${i}-1))}"></a>
                    </div>
                    <div th:unless="${i == 10}">
                        <button type="button" th:text="${i}" th:if="${i}==${pages.getPageNumber() + 1}" class="active" disabled></button>
                        <a th:text="${i}" th:if="${i}!=${pages.getPageNumber() + 1}" th:href="@{/ideas/idea(size=${pages.getPageSize()}, page=(${i}-1))}"></a>
                    </div>
                </div>
                <div th:unless="${totalPage <= 10}">
                    <button type="button" th:text="${i}" th:if="${i}==${pages.getPageNumber() + 1}" class="active tenAndMore"  disabled></button>
                    <a th:text="${i}" th:if="${i}!=${pages.getPageNumber() + 1}" class="tenAndMore" th:href="@{/ideas/idea(size=${pages.getPageSize()}, page=(${i}-1))}"></a>
                </div>
            </div>
            <div class="pagination">
                <a th:href="@{/ideas/idea(size=${pages.getPageSize()}, page=(${totalPage}))}" th:if="${allPages != totalPage}">></a>
                <button class="active" type="button" th:unless="${allPages != totalPage}" disabled>></button>
            </div>
        </div>

    </section>


    <section th:replace="fragments/header-and-sidebar :: right-side"></section>
</div>
<div>
    <div th:replace="fragments/header-and-sidebar :: scripts"></div>
    <div id="specific_scripts">
<!--        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--                crossorigin="anonymous"></script>-->
    </div>
</div>
<script>
    function maxLength(el) {
        if (!('maxLength' in el)) {
            let max = el.attributes.maxLength.value;
            el.onkeypress = function () {
                if (this.value.length >= max) return false;
            };
        }
    }
    maxLength(document.getElementById("disriptions"));
</script>
</body>
</html>