<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/docs-spoiler-style.css}">
</head>
<body>
    <nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
    <aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

    <div class="main" style="margin-top: 40px">
    <section class="content w-100">
        <h2 class="text-center fw-light mb-0" th:text="${departmentName}"></h2>
        <div class="group-docs-list one">
            <div class="list-block" th:each="category : ${categories}">
                <div class="docs-list-title" th:text="${category.categoryName}"></div>
                <div class="docs-list-body">
                    <div th:each="doc_link : ${deps}">
                        <button th:if="${doc_link.categoryDocs == category && depUser}" type="button" class="btn btn-outline-danger button-delete-doc" data-bs-toggle="modal" th:data-bs-target="'#modalWindow' + ${doc_link.id}" sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')">Удалить</button>
                        <a class="text-dark" target="_blank" th:if="${doc_link.categoryDocs == category}" th:href="@{../../documents/download/{id}(id=${doc_link.pathUploadFile})}" th:text="${doc_link.documentName}"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-4" th:if="${depUser}">
        <h3 class="tittle" sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')">Загрузка документа</h3>
        <br/>
        <form th:action="'/departments/add-doc/' + ${depId}" method="post" enctype="multipart/form-data" sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')">
            <div class="field-row">
                    <label class="cols-md-5" for="inlineFormCustomSelect">Выберите категорию</label>
                    <select class="custom-select cols-md-5" id="inlineFormCustomSelect" name="id">
                    <div th:each="cat :${categories}">
                        <option selected th:text="${cat.getCategoryName()}" th:value="${cat.id}"></option>
                    </div>
                </select>
            </div>
            <br/>
            <div class="field-row">
                <label class="cols-md-5" for="fileDoc">Выберите Документ</label>
                <input type="file" name="file" class="form-control-file" id="fileDoc">
            </div>
            <br/>
            <div class="field-row">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </form>
        </div>
    </section>
        <div class="modal-windows">
            <div th:each="modalWindow : ${deps}" class="modal fade" th:id="'modalWindow' + ${modalWindow.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                            <button type="button" class="btn-close close-button" data-bs-dismiss="modal" aria-label="Close" ></button>
                        <div class="modal-body modal-window-body">
                            <p class="modal-window-text" th:text="'Вы уверены, что хотите удалить \'' + ${modalWindow.documentName} + '\'?'"></p>
                            <div class="text-to-right">
                                <button type="button" class="btn btn-secondary modal-button" data-bs-dismiss="modal">Нет</button>
                                <form th:action="@{/departments/delete/{docId}(docId=${modalWindow.id}, depId=${modalWindow.department.id})}" method="post">
                                    <button class="btn btn-outline-danger modal-button" type="submit" th:text="Да"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <section th:replace="fragments/header-and-sidebar :: right-side"></section>
    </div>
    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">
            <script th:src="@{/js/spoiler_docs_list.js}"></script>
        </div>
    </div>

</body>
</html>