<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/list-of-contacts.css}">
</head>
<body>
    <nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
    <aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

    <div class="main" style="margin-top: 40px">
    <section class="content">
        <form action="/contacts/search" method="get" class="d-flex mx-auto w-75">
            <input class="form-control me-2" type="search" name="param" placeholder="Поиск по контактам" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
            <div class="border-bottom border-1 border-dark mt-5 pb-2" th:each="department: ${departments}" th:if="${department.id != 15}">
                <h5 class="text-uppercase text-decoration-underline" th:text="${department.name}" style="color: #404040"></h5>
                <hr>
                <div>
                    <div class="my-2" th:if="${employee.department?.name == department?.name}" th:each="employee: ${employees}">
                        <a class="my-2 contacts-link w-100" th:fragment="contact-link" th:href="@{/contacts/{employeeId}(employeeId=${employee.id})}">
                            <img class="link-img d-inline-block rounded-2" th:src="@{'/img/users/' +  ${employee.getImagePath() ?: 'default.jpeg'}}">
                            <div class="d-inline-block text-black" style="margin-left: 15px;">
                                <span th:text="${employee.user.surname ?: ' '}"></span> -
                                <span th:text="${employee.user.name ?: ''}"></span> -
                                <span th:if="${employee.patronymic != null and !employee.patronymic.equals('')}" th:text="${employee.patronymic + ' - '}"></span>
                                <span th:unless="${employee.patronymic != null and !employee.patronymic.equals('')}" th:text="${''}"></span>
                                <span th:text="${employee.employeePosition?.name ?: 'должность не указана'}"></span> -
                                <span th:text="${employee.phoneNumber ?: 'тел. не указан'}"></span> -
                                <span th:text="${employee.user.email ?: 'эл.почта не указана'}"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        <div class="border-bottom border-1 border-dark mt-5 pb-2" th:each="department: ${departments}" th:if="${department.id == 15}">
            <h5 class="text-uppercase text-decoration-underline" th:text="'ОТДЕЛ ' + ${department.name}" style="color: #404040"></h5>
            <hr>
            <div class="my-2" th:if="${(employee.department == null || employee.department.name == department.name) && employee.getUser().getUserRole() != T(com.ihsm.esdp.users.UserRole).ROLE_SUPER_ADMIN}" th:each="employee: ${employees}">
                <a th:replace="contacts/contacts-list :: contact-link"></a>
            </div>
        </div>
    </section>


    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

    </div>

    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">
            <!--Сюда вставлять скрипты, которые нужны только для текущей страницы-->
        </div>
    </div>
</body>
</html>