<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/list-of-contacts.css}">
</head>
<body>
    <nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
    <aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

    <div class="main" style="margin-top: 40px">
    <section class="content">
        <div class="w-100">
            <div class="mx-auto w-35">
                <img class="w-100 h-100 rounded-1" th:src="@{'/img/users/' +  ${employee.imagePath ?: 'default.jpeg'}}">
            </div>
            <div class="w-75 mx-auto mt-3">
                <div class="text-line">
                    <p th:text="'Номер записи: ' +  ${employee.id ?: 'Недоступен'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Фамилия: ' +  ${employee.user?.surname ?: 'Не указана'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Имя: ' +  ${employee.user?.name ?: 'Не указано'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Отчество: ' +  ${employee?.patronymic ?: 'Не указано'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Подразделение: ' +  ${employee.department?.name ?: 'Не указано'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Вид занятости: ' +  ${employee.typeOfEmployment?.name ?: 'Не указан'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Должность: ' +  ${employee.employeePosition?.name ?: 'Не указана'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'E-mail: ' +  ${employee.user?.email ?: 'Не указан'}"></p>
                </div>
                <div class="text-line">
                    <p th:text="'Номер телефона: ' +  ${employee.phoneNumber ?: 'Не указан'}"></p>
                </div>

            </div>

            <div class="mt-4 mb-3">
                <a class="btn btn-outline-success" th:href="@{/contacts}">Назад</a>
                <a sec:authorize="hasAnyAuthority('ROLE_ADMIN_HR', 'ROLE_ADMIN','ROLE_SUPER_ADMIN')" class="ms-4 btn btn-outline-success" th:href="@{/contacts/{employeeId}/update(employeeId=${employee.id})}">Изменить информацию</a>
            </div>
        </div>
    </section>


    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

    </div>

    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">
            <!--Сюда вставлять скрипты, которые нужны только для текущей страницы-->
        </div>
    </div>
</body>
</html>