<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/list-of-contacts.css}">
</head>
<body>
    <nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
    <aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

    <div class="main" style="margin-top: 40px">
    <section class="content">
        <form action="/contacts/search" method="get" class="d-flex mx-auto w-75">
            <input class="form-control me-2" type="search" name="param" placeholder="Поиск по контактам" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
        <h4 class="text-center mt-4">Результаты поиска</h4>
        <div th:if="${!#lists.isEmpty(employees)}" th:each="employee : ${employees}">
            <a class="my-2 contacts-link w-100 link-hover" th:href="@{/contacts/{employeeId}(employeeId=${employee.id})}">
                <img class="link-img d-inline-block rounded-2" th:src="@{'/img/users/' +  ${employee.getImagePath() ?: 'default.jpeg'}}">
                <div class="d-inline-block" style="width: 83%; margin-left: 15px;">
                    <span th:text="${employee.department?.name ?: 'Не указан'}"></span> -
                    <span th:text="${employee.user?.surname ?: 'Вассерман'}"></span> -
                    <span th:text="${employee.user?.name ?: 'Иван'}"></span> -
                    <span th:text="${employee.patronymic ?: 'Иванович'}"></span> -
                    <span th:text="${employee.typeOfEmployment?.name}"></span> -
                    <span th:text="${employee.phoneNumber ?: 'тел. не указан'}"></span> -
                    <span th:text="${employee.user?.email ?: 'почта не указана'}"></span>
                </div>
            </a>
        </div>
        <div class="mt-3" th:unless="${!#lists.isEmpty(employees)}">
            <p class="text-center fs-5">Ничего не найдено</p>
        </div>
    </section>


    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

    </div>

    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">
            <!--Сюда вставлять скрипты, которые нужны только для текущей страницы-->
        </div>
    </div>
</body>
</html>