<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/list-of-contacts.css}">
</head>
<body>
    <nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
    <aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

    <div class="main" style="margin-top: 40px">
    <section class="content">
        <div class="w-100">
            <form class="w-100 mt-5" th:object="${contact}" th:action="@{/contacts/{employeeId}/update(employeeId=${contact.id})}" method="post" enctype="multipart/form-data">
                <div class="mx-auto w-50">
                    <input hidden th:field="*{id}" th:value="*{id}">
                    <img th:if="${contact.imagePath != null}" th:unless="${contact.imagePath == ''}" id="output" class="w-100 h-100 rounded-1" th:src="@{'/img/users/' +  ${contact.imagePath}}">
                    <img th:unless="${contact.imagePath != null}" th:if="${contact.imagePath != ''}" id="output" class="w-100 h-100 rounded-1">
                    <input hidden th:field="*{imagePath}" th:value="*{imagePath}">
                    <input type="file" class="form-control w-100 mt-3" multiple="multiple" onchange="loadFile(event)" id="inputGroupFile01" accept="image/jpeg, image/png" th:field="*{image}">
                </div>
                <div class="w-75 mx-auto mt-3">
                    <div>
                        <p th:text="'Номер записи: ' +  ${contact.id}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="surname">Фамилия: </label>
                        <input id="surname" type="text" class="form-control d-inline-block w-50" th:value="*{user.surname}" th:field="*{user.surname}">
                    </div>
                    <div class="mb-3">
                        <label for="name">Имя: </label>
                        <input id="name" type="text" class="form-control d-inline-block w-50" th:value="*{user.name}" th:field="*{user.name}">
                    </div>
                    <div class="mb-3">
                        <label for="middleName">Отчество: </label>
                        <input id="middleName" type="text" class="form-control d-inline-block w-50" th:value="*{patronymic}" th:field="*{patronymic}">
                    </div>
                    <div class="mb-3">
                        <p>
                            Подразделение:
                            <select class="form-select w-50 d-inline-block" aria-label=".form-select-sm example" th:field="*{department}">
                                <option th:if="${contact.department != null}" th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}" th:selected="${department.name == contact.department.name}"></option>
                                <option th:unless="${contact.department != null}" th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}" th:selected="${department.id == 15}"></option>
                            </select>
                        </p>
                    </div>
                    <div class="mb-3">
                        Вид занятости:
                        <select class="form-select w-50 d-inline-block" th:field="*{typeOfEmployment}">
                            <option th:each="type : ${T(com.ihsm.esdp.users.information.TypeOfEmployment).values}" th:text="${type.name}" th:value="${type}" th:selected="${type == contact.typeOfEmployment}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                            <label for="subject">Должность: </label>
                            <input id="subject" type="text" class="form-control d-inline-block w-50" th:field="*{employeePosition.name}" th:value="*{employeePosition?.name}">
                    </div>
                    <div class="mb-3">
                        <label for="email">Адрес электронной почты: </label>
                        <input id="email" type="email" class="form-control w-50 d-inline-block" th:value="*{user.email}" th:field="*{user.email}">
                    </div>
                    <div class="mb-3">
                        <label for="phone">Номер телефона: </label>
                        <input th:if="${contact.phoneNumber != null and !contact.phoneNumber.equals('')}" type="tel" id="phone" class="form-control border-0 w-50 d-inline-block" th:value="${'+(996) ' + #strings.substring(contact.phoneNumber, 7, 10) + ' ' + #strings.substring(contact.phoneNumber, 11, 14) + '-' + #strings.substring(contact.phoneNumber, 15, 18) ?: '+(996) ___ ___-___'}" pattern="^\+\(996\)(\s+)?[0-9]{3}(\s+)?[0-9]{3}-?[0-9]{3}$" th:field="*{phoneNumber}">
                        <input th:unless="${contact.phoneNumber != null and !contact.phoneNumber.equals('')}" type="tel" id="phone" class="form-control border-0 w-50 d-inline-block" value="+(996) ___ ___-___" pattern="^\+\(996\)(\s+)?[0-9]{3}(\s+)?[0-9]{3}-?[0-9]{3}$" th:name="'phoneNumber'">
                    </div>

                </div>
                <div class="text-right">
                    <button class="btn btn-outline-danger" type="submit">Сохранить изменения</button>
                </div>
            </form>

            <div class="mt-4 mb-3">
                <a class="btn btn-outline-success" th:href="@{/contacts/{employeeId}(employeeId=${contact.id})}">Назад</a>
            </div>
        </div>
    </section>


    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

    </div>

    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">
            <script th:src="@{/js/news.js}"></script>
            <script th:src="@{/js/phoneInput/phoneInput.js}"></script>
            <script th:src="@{/js/phoneInput/masked_input_1.4-min.js}"></script>
        </div>
    </div>
</body>
</html>