<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header-and-sidebar :: baseHeader(~{::link})">
    <link rel="stylesheet" th:href="@{/css/feedback.css}">
</head>
<body>
    <nav th:replace="fragments/header-and-sidebar :: navbar"></nav>
    <aside th:replace="fragments/header-and-sidebar :: sidebar"></aside>

    <div class="main" style="margin-top: 40px">
    <section class="content">
        <div class="mt-5 text-center height-75vh">
            <p class="fs-5 mb-5">Спасибо, что связались с нами. Мы ответим вам в ближайшее время по адресу <span class="fw-bold" th:text="${email}"></span>
            </p>
            <a class="btn btn-success text-white" href="/">Вернуться на главную</a>
        </div>
    </section>


    <section th:replace="fragments/header-and-sidebar :: right-side"></section>

    </div>
    <div>
        <div th:replace="fragments/header-and-sidebar :: scripts"></div>
        <div id="specific_scripts">
            <!--Сюда вставлять скрипты, которые нужны только для текущей страницы-->
        </div>
    </div>

</body>
</html>